/* 1200PX+ ... 6(266PX) */
@media() {
  @media (general) {
    .container,
    .header {
      max-width: 1200px;
    }
    .grid {
      grid-template-columns: repeat(4, 266px);
      grid-template-rows: repeat(5, 266px);
    }
    .heading-secondary {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }
  @media (intro) {
    .memoji {
      margin-bottom: 32px;
    }
    .intro-subheading {
      font-size: 24px;
      margin-bottom: -10px;
    }
    .intro-heading {
      font-size: 70px;
      margin-bottom: 24px;
    }
    .intro-text {
      font-size: 18px;
      width: 38ch;
      margin-bottom: 30px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.45;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 32px;
    }
    .filters-container-secondary {
      padding: 4px 5px 4px 5px;
    }
    .filter-secondary {
      padding: 6px 12px;
    }
    .filter-list-secondary {
      font-size: 14px;
    }
    .subheading {
      font-size: 12px;
    }
    .running-statistic {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  @media (learning) {
    .learning-container {
      padding: 18px 0;
    }
    .learning-header {
      margin-bottom: 12px;
    }
    .learning-text-container {
      width: 24ch;
    }
    .learning-course {
      font-size: 16px;
    }
    .learning-status {
      font-size: 12px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: 202px 1fr;
      column-gap: 64px;
    }
    .spotify-logo {
      width: 48px;
    }
    .current-status {
      font-size: 16px;
    }
    .now-playing {
      font-size: 24px;
    }
    .song-artist {
      font-size: 16px;
    }
  }
  @media (rotation) {
    .rotation-shoe {
      font-size: 24px;
    }
  }
}

/* 
1200PX --> 1000PX 
COLUMNS:  4(216PX) 
ROWS:     6(216PX)
*/
@media() {
  @media (general) {
    .container,
    .header {
      max-width: 1000px;
    }
    .grid {
      grid-template-columns: repeat(4, 216px);
      grid-template-rows: repeat(6, 216px);
    }
    .heading-secondary {
      font-size: 23px;
      margin-bottom: 16px;
    }
    .heading-secondary {
      font-size: 23px;
      margin-bottom: 16px;
    }
    .filters-list {
      font-size: 14.5px;
    }
    .nav-cta {
      font-size: 14.5px;
    }
  }
  @media (intro) {
    .intro-heading {
      font-size: 38px;
    }
    .intro-subheading {
      font-size: 18px;
      margin-top: 4px;
      margin-bottom: -6px;
    }
    .intro-text {
      font-size: 13.5px;
      width: 48ch;
    }
    .intro-btn {
      margin-top: 18px;
    }
    .intro-cta {
      font-size: 13.5px;
      padding: 6px 12px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.25;
    }
  }
  @media (photos) {
    .photo {
      width: 216px;
      height: 216px;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 20px;
    }
    .filters-container-secondary {
      padding: 3px 4px 3px 4px;
    }
    .filter-secondary {
      padding: 4px 7px;
    }
    .filter-list-secondary {
      font-size: 13px;
    }
    .subheading {
      font-size: 11.5px;
    }
    .running-statistic {
      font-size: 20px;
      margin-bottom: 14px;
    }
  }
  @media (learning) {
    .learning-container {
      padding: 10px 0;
    }
    .learning-header {
      margin-bottom: 10px;
    }
    .learning-text-container {
      width: 28ch;
    }
    .learning-container:first-of-type {
      padding: 0 0 10px 0;
    }
    .learning-container:last-of-type {
      padding: 10px 0 0 0;
    }
    .learning-course {
      font-size: 13.5px;
    }
    .learning-status {
      font-size: 11.5px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: 152px 1fr;
      column-gap: 56px;
    }
    #spotify-artwork {
      width: 152px;
      height: 152px;
    }
    .spotify-logo {
      width: 42px;
      height: 42px;
    }
    .current-status {
      font-size: 15px;
    }
    .now-playing {
      font-size: 20px;
    }
    .song-artist {
      font-size: 15px;
    }
  }
  @media (rotation) {
    .rotation-shoe {
      font-size: 20px;
    }
    .shoe-image {
      width: 196px;
      height: 110px;
    }
  }
  @media (projects) {
    .project-logo {
      height: 25px;
      width: 25px;
    }
    .project-preview-container {
      height: 200px;
      width: 152px;
    }
    .project-preview-image {
      transform: translate(-57px);
    }
  }
  @media (donate) {
    .donate-text {
      font-size: 13.5px;
      width: 20ch;
    }
    .donate-btn {
      margin-top: 13px;
    }
    .donate-cta {
      font-size: 13.5px;
      padding: 6px 12px;
    }
    .project-btn {
      margin-top: 8px;
    }
    .project-cta {
      font-size: 13.5px;
      padding: 6px 12px;
    }
  }
}

/* 
1000PX --> 800PX 
COLUMNS: 3(229PX) 
ROWS:    8(229PX)
*/
@media() {
  @media (general) {
    .container,
    .header {
      max-width: 800px;
    }
    .grid {
      grid-template-columns: repeat(3, 229px);
      grid-template-rows: repeat(8, 229px);
    }
    .heading-secondary {
      font-size: 25px;
      margin-bottom: 20px; /* RETURN */
    }
  }
  @media (intro) {
    .memoji {
      width: 82px;
      height: 91.5px;
      margin-bottom: 28px;
    }
    .intro-subheading {
      font-size: 22px;
      margin-bottom: -6px;
    }
    .intro-heading {
      font-size: 60px;
      margin-bottom: 16px;
    }
    .intro-text {
      font-size: 17px;
      width: 36ch;
      margin-bottom: 28px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.35;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 26px;
    }
    .filters-container-secondary {
      padding: 3px 4px 3px 4px;
    }
    .filter-secondary {
      padding: 4.5px 9px;
    }
    .filter-list-secondary {
      font-size: 13px;
    }
    .subheading {
      font-size: 12px;
    }
    .running-statistic {
      font-size: 21.5px;
      margin-bottom: 14px;
    }
  }
  @media (learning) {
    .learning-container {
      padding: 12px 0;
    }
    .learning-header {
      margin-bottom: 12px;
    }
    .learning-text-container {
      width: 28ch;
    }
    .learning-container:first-of-type {
      padding: 0 0 12px 0;
    }
    .learning-course {
      font-size: 15px;
    }
    .learning-status {
      font-size: 11.5px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: 165px 1fr;
      column-gap: 56px;
    }
    .spotify-logo {
      width: 40px;
    }
    .current-status {
      font-size: 15px;
    }
    .now-playing {
      font-size: 22px;
    }
    .song-artist {
      font-size: 15px;
    }
  }
  @media (rotation) {
    .rotation-shoe {
      font-size: 21.5px;
    }
  }
  @media (projects) {
    .project-photo {
      width: 229px;
      height: 229px;
  }
}

/* 
800PX ---> 546PX 
COLUMNS: 2(229PX) 
ROWS:   12(229PX)
*/
@media() {
  @media (general) {
    .container,
    .header {
      max-width: 546px;
    }
    .grid {
      grid-template-columns: repeat(2, 229px);
      grid-template-rows: repeat(12, 229px);
    }
    .heading-secondary {
      font-size: 25px;
      margin-bottom: 20px; /* RETURN */
    }
  }
  @media (header) {
    .header {
      height: auto;
      max-width: 402px;
      padding: 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .toggle-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .nav-btn {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
    .filters-primary {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
      margin-top: 30px;
    }
  }
  @media (intro) {
    .memoji {
      width: 82px;
      height: 91.5px; 
      margin-bottom: 28px;
    }
    .intro-subheading {
      font-size: 22px;
      margin-bottom: -6px;
    }
    .intro-heading {
      font-size: 60px;
      margin-bottom: 16px;
    }
    .intro-text {
      font-size: 17px;
      width: 36ch;
      margin-bottom: 28px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.35;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 26px;
    }
    .filters-container-secondary {
      padding: 3px 4px 3px 4px;
    }
    .filter-secondary {
      padding: 4.5px 9px;
    }
    .filter-list-secondary {
      font-size: 13px;
    }
    .subheading {
      font-size: 12px;
    }
    .running-statistic {
      font-size: 21.5px;
      margin-bottom: 14px;
    }
  }
  @media (learning) {
    .learning-container {
      padding: 12px 0;
    }
    .learning-container:first-of-type {
      padding: 0 0 12px 0;
    }
    .learning-header {
      margin-bottom: 12px;
    }
    .learning-text-container {
      width: 28ch;
    }
    .learning-course {
      font-size: 15px;
    }
    .learning-status {
      font-size: 11.5px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: 165px 1fr;
      column-gap: 56px;
    }
    .spotify-logo {
      width: 40px;
    }
    .current-status {
      font-size: 15px;
    }
    .now-playing {
      font-size: 22px;
    }
    .song-artist {
      font-size: 15px;
    }
  }
  @media (rotation) {
    .rotation-shoe {
      font-size: 21.5px;
    }
  }
  @media (projects) {
    .project-photo {
      width: 229px;
      height: 229px;
  }
}

/* 
546PX ---> 424PX 
COLUMNS: 2(168PX) 
ROWS:   20(168PX)
*/
@media() {
  @media (general) {
    .container {
      max-width: 424px;
    }
    .grid {
      grid-template-columns: repeat(2, 168px);
      grid-template-rows: repeat(20, 168px);
    }
    .heading-secondary {
      font-size: 30px;
      margin-bottom: 20px; /* RETURN */
    }
    .heading-secondary-mobile {
      align-self: center;
      justify-self: center;
    }
    .heading-secondary--less-margin {
      margin-bottom: 0;
    }
    .subheading {
      font-size: 12px;
    }
  }
  @media (header) {
    .header {
      height: auto;
      max-width: 360px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 15px;
    }
    .toggle-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .filters-primary {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
      margin-top: 30px;
    }
    .filters-list {
      font-size: 15px;
    }
    .filter {
      padding: 6.5px 13px;
    }
    .nav-btn {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
    .nav-cta:link,
    .nav-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (intro) {
    .card--intro {
      display: grid;
      grid-template-columns: auto;
    }
    .memoji {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 35%;
      margin: -10px 0 8px -8px;
      /* margin-bottom: 28px; */
    }
    .intro-subheading {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 17px;
      align-self: flex-end;
      margin-bottom: -6px;
    }
    .intro-heading {
      grid-column: 1/3;
      grid-row: 3/4;
      font-size: 36px;
      margin-bottom: 8px;
      margin-left: -0.5px;
    }
    .intro-text {
      grid-column: 1/3;
      grid-row: 4/5;
      font-size: 15px;
      width: 29ch;
      margin-bottom: 16px;
    }
    .intro-btn {
      width: fit-content;
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .intro-cta:link,
    .intro-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.75;
      --mapbox-icon-size: 0.26;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 32px;
    }
    .filters-container-secondary {
      padding: 4px 5px 4px 5px;
    }
    .filter-list-secondary {
      font-size: 15px;
    }
    .filter-secondary {
      padding: 6.5px 13px;
    }
    .statistics-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 24px;
    }
    .statistic-block {
      display: flex;
      flex-direction: column;
    }
    .statistic-block:nth-child(5) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .running-statistic {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }
  @media (learning) {
    .card--learning {
      display: flex;
      flex-direction: column;
    }
    .learning-container-mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .learning-container {
      display: grid;
      padding: 0;
      border-bottom: none;
    }
    .learning-container:first-of-type {
      padding: 0;
    }
    .learning-container:last-child {
      padding: 0;
    }
    .learning-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 26px;
      margin-bottom: 10px;
    }
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
    }
    .logo-helper {
      flex-direction: row;
      margin-right: 0px;
    }
    .learning-text-container {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      width: 19ch;
      justify-self: center;
    }
    .learning-course {
      font-size: 14.6px;
      text-align: center;
    }
    .learning-status {
      font-size: 11.5px;
      justify-self: center;
      margin: 0 0 0 0;
    }
    .learning-container:nth-child(3) .learning-status {
      padding-top: 16.88px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 0px;
    }
    .song-artwork {
      grid-column: 1/3;
      grid-template-rows: 1/3;
    }
    .spotify-logo {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 64px;
      justify-self: flex-end;
    }
    .spotify-information {
      grid-column: 1/5;
      grid-row: 4/5;
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
    .current-status {
      font-size: 17px;
    }
    .now-playing {
      font-size: 26px;
    }
    .song-artist {
      font-size: 17px;
    }
  }
  @media (rotation) {
    .card--rotation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .rotation-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 10px;
    }
    .rotation-grid-left {
      grid-row: 2/3;
      justify-self: center;
    }
    .rotation-shoe {
      text-align: center;
      font-size: 22px;
    }
    .rotation-grid-right {
      grid-row: 1/2;
      margin-top: -10px;
      left: 8.75%;
    }
    .shoe-image {
      width: 82.5%;
    }
  }
  @media (projects) {
    .project-photo {
      width: 360px;
      height: 168px;
    }
    .card--padding-helper {
      padding: 0;
    }
  }
}
}

/* 
424PX ---> 410PX 
COLUMNS: 2(161PX) 
ROWS:   20(161PX)
*/
@media() {
  @media (general) {
    .container {
      max-width: 410px;
    }
    .grid {
      grid-template-columns: repeat(2, 161px);
      grid-template-rows: repeat(20, 161px);
    }
    .heading-secondary {
      font-size: 30px;
      margin-bottom: 20px; /* RETURN */
    }
    .heading-secondary-mobile {
      align-self: center;
      justify-self: center;
    }
    .heading-secondary--less-margin {
      margin-bottom: 0;
    }
    .subheading {
      font-size: 12px;
    }
  }
  @media (header) {
    .header {
      height: auto;
      max-width: 360px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 15px;
    }
    .toggle-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .filters-primary {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
      margin-top: 30px;
    }
    .filters-list {
      font-size: 15px;
    }
    .filter {
      padding: 6.5px 13px;
    }
    .nav-btn {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
    .nav-cta:link,
    .nav-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (intro) {
    .card--intro {
      display: grid;
      grid-template-columns: auto;
    }
    .memoji {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 35%;
      margin: -10px 0 8px -8px;
      /* margin-bottom: 28px; */
    }
    .intro-subheading {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 17px;
      align-self: flex-end;
      margin-bottom: -6px;
    }
    .intro-heading {
      grid-column: 1/3;
      grid-row: 3/4;
      font-size: 36px;
      margin-bottom: 8px;
      margin-left: -0.5px;
    }
    .intro-text {
      grid-column: 1/3;
      grid-row: 4/5;
      font-size: 15px;
      width: 29ch;
      margin-bottom: 16px;
      line-height: 1.3;
    }
    .intro-btn {
      width: fit-content;
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .intro-cta:link,
    .intro-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.75;
      --mapbox-icon-size: 0.26;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 32px;
    }
    .filters-container-secondary {
      padding: 4px 5px 4px 5px;
    }
    .filter-list-secondary {
      font-size: 15px;
    }
    .filter-secondary {
      padding: 6.5px 13px;
    }
    .statistics-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 17px;
    }
    .statistic-block:nth-child(5) .running-statistic,
    .statistic-block:nth-child(6) .running-statistic {
      margin-bottom: 0px;
    }
    .statistic-block {
      display: flex;
      flex-direction: column;
    }
    .statistic-block:nth-child(5) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .running-statistic {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
  @media (learning) {
    .card--learning {
      display: flex;
      flex-direction: column;
    }
    .learning-container-mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .learning-container {
      display: grid;
      padding: 0;
      border-bottom: none;
    }
    .learning-container:first-of-type {
      padding: 0;
    }
    .learning-container:last-child {
      padding: 0;
    }
    .learning-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 18px;
      margin-bottom: 10px;
    }
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
    }
    .logo-helper {
      flex-direction: row;
      margin-right: 0px;
    }
    .learning-text-container {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      width: 19ch;
      justify-self: center;
    }
    .learning-course {
      font-size: 15px;
      text-align: center;
    }
    .learning-status {
      font-size: 11.5px;
      justify-self: center;
      margin: 0 0 0 0;
    }
    .learning-container:nth-child(3) .learning-status {
      padding-top: 16.88px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 0px;
    }
    .song-artwork {
      grid-column: 1/3;
      grid-template-rows: 1/3;
    }
    .spotify-logo {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 64px;
      justify-self: flex-end;
    }
    .spotify-information {
      grid-column: 1/5;
      grid-row: 4/5;
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
    .current-status {
      font-size: 17px;
    }
    .now-playing {
      font-size: 26px;
    }
    .song-artist {
      font-size: 17px;
    }
  }
  @media (rotation) {
    .card--rotation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .rotation-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 10px;
    }
    .rotation-grid-left {
      grid-row: 2/3;
      justify-self: center;
    }
    .rotation-shoe {
      text-align: center;
      font-size: 22px;
    }
    .rotation-grid-right {
      grid-row: 1/2;
      margin-top: -10px;
      left: 10%;
    }
    .shoe-image {
      width: 80%;
    }
  }
  @media (socials) {
    .social-media-logo {
      height: 65px;
      width: 65px;
    }
  }
  @media (projects) {
    .project-photo {
      width: 346px;
      height: 161px;
    }
    .card--padding-helper {
      padding: 0;
    }
  }
}

/* 
410PX ---> 390PX
COLUMNS: 2(151PX)
ROWS:   20(151PX)
*/
@media() {
  @media (general) {
    .container {
      max-width: 390px;
    }
    .grid {
      grid-template-columns: repeat(2, 151px);
      grid-template-rows: repeat(20, 151px);
    }
    .card--intro,
    .card--running,
    .card--learning,
    .card--spotify,
    .card--rotation,
    .card--github,
    .card--twitter,
    .card--instagram,
    .card--linkedin {
      padding: 24px;
    }
    .heading-secondary {
      font-size: 28px;
      margin-bottom: 20px; /* RETURN */
    }
    .heading-secondary-mobile {
      align-self: center;
      justify-self: center;
    }
    .heading-secondary--less-margin {
      margin-bottom: 0;
    }
    .subheading {
      font-size: 11.5px;
    }
  }
  @media (header) {
    .header {
      height: auto;
      max-width: 346px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 15px;
    }
    .toggle-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .filters-primary {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
      margin-top: 30px;
    }
    .filters-list {
      font-size: 14px;
    }
    .filter {
      padding: 6.5px 13px;
    }
    .nav-btn {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
    .nav-cta:link,
    .nav-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (intro) {
    .card--intro {
      display: grid;
      grid-template-columns: auto;
    }
    .memoji {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 35%;
      margin: -10px 0 8px -8px;
      /* margin-bottom: 28px; */
    }
    .intro-subheading {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 16px;
      align-self: flex-end;
      margin-bottom: -6px;
    }
    .intro-heading {
      grid-column: 1/3;
      grid-row: 3/4;
      font-size: 34px;
      margin-bottom: 8px;
      margin-left: -0.5px;
    }
    .intro-text {
      grid-column: 1/3;
      grid-row: 4/5;
      font-size: 14px;
      width: 29ch;
      margin-bottom: 16px;
      line-height: 1.3;
    }
    .intro-btn {
      width: fit-content;
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .intro-cta:link,
    .intro-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.3;
      --mapbox-icon-size: 0.23;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 24px;
    }
    .filters-container-secondary {
      padding: 4px 5px 4px 5px;
    }
    .filter-list-secondary {
      font-size: 15px;
    }
    .filter-secondary {
      padding: 6.5px 13px;
    }
    .statistics-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 17px;
    }
    .statistic-block:nth-child(5) .running-statistic,
    .statistic-block:nth-child(6) .running-statistic {
      margin-bottom: 0px;
    }
    .statistic-block {
      display: flex;
      flex-direction: column;
    }
    .statistic-block:nth-child(5) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .running-statistic {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }
  @media (learning) {
    .card--learning {
      display: flex;
      flex-direction: column;
    }
    .learning-container-mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .learning-container {
      display: grid;
      padding: 0;
      border-bottom: none;
    }
    .learning-container:first-of-type {
      padding: 0;
    }
    .learning-container:last-child {
      padding: 0;
    }
    .learning-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 18px;
      margin-bottom: 10px;
    }
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
    }
    .logo-helper {
      flex-direction: row;
      margin-right: 0px;
    }
    .learning-text-container {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      width: 19ch;
      justify-self: center;
    }
    .learning-course {
      font-size: 15px;
      text-align: center;
    }
    .learning-status {
      font-size: 11.5px;
      justify-self: center;
      margin: 0 0 0 0;
    }
    .learning-container:nth-child(3) .learning-status {
      padding-top: 16.88px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 0px;
    }
    .song-artwork {
      grid-column: 1/3;
      grid-template-rows: 1/3;
    }
    .spotify-logo {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 64px;
      justify-self: flex-end;
    }
    .spotify-information {
      grid-column: 1/5;
      grid-row: 4/5;
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
    .current-status {
      font-size: 16px;
    }
    .now-playing {
      font-size: 26px;
    }
    .song-artist {
      font-size: 16px;
    }
  }
  @media (rotation) {
    .card--rotation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .rotation-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 4px;
    }
    .rotation-grid-left {
      grid-row: 2/3;
      justify-self: center;
    }
    .rotation-shoe {
      text-align: center;
      font-size: 22px;
    }
    .rotation-grid-right {
      grid-row: 1/2;
      margin-top: -10px;
      left: 10%;
    }
    .shoe-image {
      width: 80%;
    }
  }
  @media (socials) {
    .social-media-logo {
      height: 60px;
      width: 60px;
    }
  }
  @media (projects) {
    .project-photo {
      width: 326px;
      height: 151px;
    }
    .card--padding-helper {
      padding: 0;
    }
  }
}

/* 
w/24PX MARGIN
390PX ---> 374PX
COLUMNS: 2(151PX)
ROWS:   20(151PX)
*/
@media() {
  @media (general) {
    .container {
      max-width: 374px;
    }
    .grid {
      grid-template-columns: repeat(2, 151px);
      grid-template-rows: repeat(20, 151px);
    }
    .card--intro,
    .card--running,
    .card--learning,
    .card--spotify,
    .card--rotation,
    .card--github,
    .card--twitter,
    .card--instagram,
    .card--linkedin {
      padding: 24px;
    }
    .heading-secondary {
      font-size: 28px;
      margin-bottom: 20px; /* RETURN */
    }
    .heading-secondary-mobile {
      align-self: center;
      justify-self: center;
    }
    .heading-secondary--less-margin {
      margin-bottom: 0;
    }
    .subheading {
      font-size: 11.5px;
    }
  }
  @media (header) {
    .header {
      height: auto;
      max-width: 288px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 15px;
    }
    .toggle-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .filters-primary {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
      margin-top: 30px;
    }
    .filters-list {
      font-size: 14px;
    }
    .filter {
      padding: 7px 14px;
    }
    [data-filter='media'] {
      display: none;
    }
    .nav-btn {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
    .nav-cta:link,
    .nav-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (intro) {
    .card--intro {
      display: grid;
      grid-template-columns: auto;
    }
    .memoji {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 35%;
      margin: -10px 0 8px -8px;
      /* margin-bottom: 28px; */
    }
    .intro-subheading {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 16px;
      align-self: flex-end;
      margin-bottom: -6px;
    }
    .intro-heading {
      grid-column: 1/3;
      grid-row: 3/4;
      font-size: 34px;
      margin-bottom: 8px;
      margin-left: -0.5px;
    }
    .intro-text {
      grid-column: 1/3;
      grid-row: 4/5;
      font-size: 14px;
      width: 29ch;
      margin-bottom: 16px;
      line-height: 1.3;
    }
    .intro-btn {
      width: fit-content;
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .intro-cta:link,
    .intro-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.3;
      --mapbox-icon-size: 0.23;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 24px;
    }
    .filters-container-secondary {
      padding: 4px 5px 4px 5px;
    }
    .filter-list-secondary {
      font-size: 15px;
    }
    .filter-secondary {
      padding: 7px 14px;
    }
    .statistics-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 17px;
    }
    .statistic-block:nth-child(5) .running-statistic,
    .statistic-block:nth-child(6) .running-statistic {
      margin-bottom: 0px;
    }
    .statistic-block {
      display: flex;
      flex-direction: column;
    }
    .statistic-block:nth-child(5) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .running-statistic {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }
  @media (learning) {
    .card--learning {
      display: flex;
      flex-direction: column;
    }
    .learning-container-mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .learning-container {
      display: grid;
      padding: 0;
      border-bottom: none;
    }
    .learning-container:first-of-type {
      padding: 0;
    }
    .learning-container:last-child {
      padding: 0;
    }
    .learning-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 18px;
      margin-bottom: 10px;
    }
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
    }
    .logo-helper {
      flex-direction: row;
      margin-right: 0px;
    }
    .learning-text-container {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      width: 19ch;
      justify-self: center;
    }
    .learning-course {
      font-size: 15px;
      text-align: center;
    }
    .learning-status {
      font-size: 11.5px;
      justify-self: center;
      margin: 0 0 0 0;
    }
    .learning-container:nth-child(3) .learning-status {
      padding-top: 16.88px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 0px;
    }
    .song-artwork {
      grid-column: 1/3;
      grid-template-rows: 1/3;
    }
    .spotify-logo {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 64px;
      justify-self: flex-end;
    }
    .spotify-information {
      grid-column: 1/5;
      grid-row: 4/5;
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
    .current-status {
      font-size: 16px;
    }
    .now-playing {
      font-size: 26px;
    }
    .song-artist {
      font-size: 16px;
    }
  }
  @media (rotation) {
    .card--rotation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .rotation-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 4px;
    }
    .rotation-grid-left {
      grid-row: 2/3;
      justify-self: center;
    }
    .rotation-shoe {
      text-align: center;
      font-size: 22px;
    }
    .rotation-grid-right {
      grid-row: 1/2;
      margin-top: -10px;
      left: 10%;
    }
    .shoe-image {
      width: 80%;
    }
  }
  @media (socials) {
    .social-media-logo {
      height: 60px;
      width: 60px;
    }
  }
  @media (projects) {
    .project-photo {
      width: 326px;
      height: 151px;
    }
    .card--padding-helper {
      padding: 0;
    }
  }
}

/* 
374PX ---> 360PX
COLUMNS: 2(144PX)
ROWS:   17(144PX)
*/
@media() {
  @media (general) {
    .container {
      max-width: 360px;
    }
    .grid {
      grid-template-columns: repeat(2, 144px);
      grid-template-rows: repeat(20, 144px);
    }
    .card--intro,
    .card--running,
    .card--learning,
    .card--spotify,
    .card--rotation,
    .card--github,
    .card--twitter,
    .card--instagram,
    .card--linkedin {
      padding: 24px;
    }
    .heading-secondary {
      font-size: 28px;
      margin-bottom: 20px; /* RETURN */
    }
    .heading-secondary-mobile {
      align-self: center;
      justify-self: center;
    }
    .heading-secondary--less-margin {
      margin-bottom: 0;
    }
    .subheading {
      font-size: 11.5px;
    }
  }
  @media (header) {
    .header {
      height: auto;
      max-width: 288px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 15px;
    }
    .toggle-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .filters-primary {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
      margin-top: 30px;
    }
    .filters-list {
      font-size: 14px;
    }
    .filter {
      padding: 7px 14px;
    }
    [data-filter='media'] {
      display: none;
    }
    .nav-btn {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
    .nav-cta:link,
    .nav-cta:visited {
      font-size: 15px;
      padding: 7px 14px;
    }
  }
  @media (intro) {
    .card--intro {
      display: grid;
      grid-template-columns: auto;
    }
    .memoji {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 33%;
      margin: -10px 0 8px -8px;
      /* margin-bottom: 28px; */
    }
    .intro-subheading {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 16px;
      align-self: flex-end;
      margin-bottom: -6px;
    }
    .intro-heading {
      grid-column: 1/3;
      grid-row: 3/4;
      font-size: 32px;
      margin-bottom: 8px;
      margin-left: -0.5px;
    }
    .intro-text {
      grid-column: 1/3;
      grid-row: 4/5;
      font-size: 14px;
      width: 29ch;
      margin-bottom: 16px;
      line-height: 1.3;
    }
    .intro-btn {
      width: fit-content;
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .intro-cta:link,
    .intro-cta:visited {
      font-size: 14px;
      padding: 7px 14px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.3;
      --mapbox-icon-size: 0.23;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 24px;
    }
    .filters-container-secondary {
      padding: 4px 5px 4px 5px;
    }
    .filter-list-secondary {
      font-size: 14px;
    }
    .filter-secondary {
      padding: 7px 14px;
    }
    .statistics-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 17px;
    }
    .statistic-block:nth-child(5) .running-statistic,
    .statistic-block:nth-child(6) .running-statistic {
      margin-bottom: 0px;
    }
    .statistic-block {
      display: flex;
      flex-direction: column;
    }
    .statistic-block:nth-child(5) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .running-statistic {
      font-size: 22px;
      margin-bottom: 18px;
    }
  }
  @media (learning) {
    .card--learning {
      display: flex;
      flex-direction: column;
    }
    .learning-container-mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .learning-container {
      display: grid;
      padding: 0;
      border-bottom: none;
    }
    .learning-container:first-of-type {
      padding: 0;
    }
    .learning-container:last-child {
      padding: 0;
    }
    .learning-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 14px;
      margin-bottom: 10px;
    }
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
    }
    .logo-helper {
      flex-direction: row;
      margin-right: 0px;
    }
    .learning-text-container {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      width: 19ch;
      justify-self: center;
    }
    .learning-course {
      font-size: 14px;
      text-align: center;
    }
    .learning-status {
      font-size: 11.5px;
      justify-self: center;
      margin: 0 0 0 0;
    }
    .learning-container:nth-child(3) .learning-status {
      padding-top: 16.88px;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 0px;
    }
    .song-artwork {
      grid-column: 1/3;
      grid-template-rows: 1/3;
    }
    .spotify-logo {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 54px;
      justify-self: flex-end;
    }
    .spotify-information {
      grid-column: 1/5;
      grid-row: 4/5;
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
    .current-status {
      font-size: 16px;
    }
    .now-playing {
      font-size: 24px;
    }
    .song-artist {
      font-size: 16px;
    }
  }
  @media (rotation) {
    .card--rotation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .rotation-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 4px;
    }
    .rotation-grid-left {
      grid-row: 2/3;
      justify-self: center;
    }
    .rotation-shoe {
      text-align: center;
      font-size: 22px;
    }
    .rotation-grid-right {
      grid-row: 1/2;
      margin-top: -10px;
      left: 10%;
    }
    .shoe-image {
      width: 80%;
    }
  }
  @media (socials) {
    .social-media-logo {
      height: 55px;
      width: 55px;
    }
  }
  @media (projects) {
    .project-photo {
      width: 312px;
      height: 144px;
    }
    .card--padding-helper {
      padding: 0;
    }
  }
}

/* 
360PX ---> 300PX
COLUMNS: 2(128PX)
ROWS:   20(128PX)
*/
@media() {
  @media (general) {
    .container {
      max-width: 300px;
    }
    .grid {
      grid-template-columns: repeat(2, 128px);
      grid-template-rows: repeat(20, 128px);
    }
    .card--spotify {
      padding: 24px;
    }
    .card--intro,
    .card--running,
    .card--learning,
    .card--rotation,
    .card--github,
    .card--twitter,
    .card--instagram,
    .card--linkedin {
      padding: 16px;
    }

    .heading-secondary {
      font-size: 24px;
      margin-bottom: 20px; /* RETURN */
    }
    .heading-secondary-mobile {
      align-self: center;
      justify-self: center;
    }
    .heading-secondary--less-margin {
      margin-bottom: 0;
    }
    .subheading {
      font-size: 11px;
    }
  }
  @media (header) {
    .header {
      height: auto;
      max-width: 272px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 15px;
    }
    .toggle-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .filters-primary {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: center;
      margin-top: 30px;
    }
    .filters-list {
      font-size: 14px;
    }
    .filter {
      padding: 6px 12px;
    }
    [data-filter='media'] {
      display: none;
    }
    .nav-btn {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
    }
    .nav-cta:link,
    .nav-cta:visited {
      font-size: 14px;
      padding: 6px 12px;
    }
  }
  @media (intro) {
    .card--intro {
      display: grid;
      grid-template-columns: auto;
    }
    .memoji {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 30%;
      margin: -10px 0 8px -8px;
      /* margin-bottom: 28px; */
    }
    .intro-subheading {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 15px;
      align-self: flex-end;
      margin-bottom: -6px;
    }
    .intro-heading {
      grid-column: 1/3;
      grid-row: 3/4;
      font-size: 28px;
      margin-bottom: 8px;
      margin-left: -0.5px;
    }
    .intro-text {
      grid-column: 1/3;
      grid-row: 4/5;
      font-size: 13px;
      width: 29ch;
      margin-bottom: 10px;
      line-height: 1.3;
    }
    .intro-btn {
      width: fit-content;
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .intro-cta:link,
    .intro-cta:visited {
      font-size: 14px;
      padding: 6px 12px;
    }
  }
  @media (map) {
    body {
      --mapbox-zoom: 11.2;
      --mapbox-icon-size: 0.2;
    }
  }
  @media (running) {
    .filters-secondary {
      margin-bottom: 24px;
    }
    .filters-container-secondary {
      padding: 4px 5px 4px 5px;
    }
    .filter-list-secondary {
      font-size: 14px;
    }
    .filter-secondary {
      padding: 6px 12px;
    }
    .statistics-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      column-gap: 17px;
    }
    .statistic-block:nth-child(5) .running-statistic,
    .statistic-block:nth-child(6) .running-statistic {
      margin-bottom: 0px;
    }
    .statistic-block {
      display: flex;
      flex-direction: column;
    }
    .statistic-block:nth-child(5) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .running-statistic {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
  @media (learning) {
    .card--learning {
      display: flex;
      flex-direction: column;
    }
    .learning-container-mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .learning-container {
      display: grid;
      padding: 0;
      border-bottom: none;
    }
    .learning-container:first-of-type {
      padding: 0;
    }
    .learning-container:last-child {
      padding: 0;
    }
    .learning-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 14px;
      margin-bottom: 4px;
    }
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
    }
    .logo-helper {
      flex-direction: row;
      margin-right: 0px;
    }
    .learning-logo {
      height: 24px;
      width: 24px;
    }
    .logo-vector {
      height: 22px;
      width: 22px;
    }
    .learning-text-container {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      width: 19ch;
      justify-self: center;
    }
    .learning-course {
      font-size: 13.7px;
      text-align: center;
    }
    .learning-status {
      font-size: 11px;
      justify-self: center;
      margin: 0 0 0 0;
    }
    .learning-container:nth-child(2) .learning-status {
      margin-top: auto;
    }
  }
  @media (spotify) {
    .card--spotify {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 0px;
    }
    .song-artwork {
      grid-column: 1/3;
      grid-template-rows: 1/3;
    }
    .spotify-logo {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 54px;
      justify-self: flex-end;
    }
    .spotify-information {
      grid-column: 1/5;
      grid-row: 4/5;
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
    .current-status {
      font-size: 16px;
    }
    .now-playing {
      font-size: 24px;
    }
    .song-artist {
      font-size: 16px;
    }
  }
  @media (rotation) {
    .card--rotation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .rotation-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 4px;
    }
    .rotation-grid-left {
      grid-row: 2/3;
      justify-self: center;
    }
    .rotation-shoe {
      text-align: center;
      font-size: 18px;
    }
    .rotation-grid-right {
      grid-row: 1/2;
      margin-top: -10px;
      left: 10%;
    }
    .shoe-image {
      width: 80%;
    }
  }
  @media (socials) {
    .social-media-logo {
      height: 60px;
      width: 60px;
    }
  }
  @media (projects) {
    .project-photo {
      width: 268px;
      height: 128px;
    }
    .card--padding-helper {
      padding: 0;
    }
  }
}

/* GENERAL */
/* HEADER */
/* INTRO */
/* MAP */
/* RUNNING */
/* LEARNING */
/* SPOTIFY */
/* ROTATION */
/* SOCIALS */
