/* 
1; TYPOGRAPHY 
FONT SIZES (px);
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  navigation links; 1.8rem
FONT WEIGHT;
  default: 400
  medium: 500
  semi-bold: 600
  bold: 700
FONT COLOR;
  default: #1D1D1D
  hover: #6E6E6E
LINE HEIGHT;
  default: 1
LETTER SPACING;

2; COLOURS
BACKGROUND;
  #F5F5F5
  #FFFFFF
PRIMARY;
TINTS;
SHADES;
GREYS;
GRADIENTS;
  USED;
    background: linear-gradient(to right, #00dfd8, #007cf0);

    background: linear-gradient(to right, #7928ca, #ff0080);
    background: linear-gradient(to right, #ff4d4d, #f9cb2b);

5; SHADOWS
  card: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);


6; BORDER RADIUS
  cards: 3.2rem
  max: 10rem

7; WHITESPACE
SPACING SYSTEM (px);
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
