/*                   */
/*                   */
/* MAX-WIDTH: 1300PX */
/*                   */
/* 56.25%            */

@media (max-width: 81.25em) {
  /* 1300px / 16px = 81.25em */
  html {
    /* 9px / 16px = 56.25 */
    font-size: 56.25%;
  }
}

/*                   */
/*                   */
/* MAX-WIDTH: 1180PX */
/*                   */
/*                   */

@media (max-width: 73.75em) {
  .container {
    max-width: 111.25rem;
  }
  .grid {
    grid-template-columns: repeat(4, 26rem);
    grid-template-rows: repeat(5, 26rem);
  }
  .heading-primary {
    font-size: 5.2rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
  .filters-secondary {
    margin-bottom: 3rem;
  }
  .running-statistic {
    margin-bottom: 2.1rem;
  }
}

/*                   */
/*                   */
/* MAX-WIDTH: 1060PX */
/*                   */
/* 3 COLUMN GRID     */

@media (max-width: 66.25em) {
  .grid {
    grid-template-columns: repeat(3, 28rem);
    grid-template-rows: repeat(7, 28rem);
  }
  .container {
    max-width: 89rem;
  }
  .heading-primary {
    font-size: 6.2rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .filters-secondary {
    margin-bottom: 3.6rem;
  }
  .running-statistic {
    margin-bottom: 2.4rem;
  }

  /*           */
  /*           */
  /* CARD--ALL */
  /*           */
  /*           */

  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--spotify--all {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #card--photos--all {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--rotation--all {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  #card--guestbook--all {
    grid-column: 2/4;
    grid-row: 5/6;
  }
  #card--running--all {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  #card--bankist--all {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #card--omnifood--all {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  #card--github--all {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  #card--linkedin--all {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  #card--twitter--all {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 7/8;
  }

  /*             */
  /*             */
  /* CARD--ABOUT */
  /*             */
  /*             */
  #card--intro--about {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--about {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--spotify--about {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  #card--photos--about {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--rotation--about {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  #card--guestbook--about {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  #card--running--about {
    grid-column: 3/4;
    grid-row: 4/6;
  }
  #card--bankist--about {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  #card--omnifood--about {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  #card--github--about {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #card--linkedin--about {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  #card--twitter--about {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #card--instagram--about {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  /*                */
  /*                */
  /* CARD--PROJECTS */
  /*                */
  /*                */
  #card--intro--projects {
    grid-column: 1/3;
    grid-row: 6/8;
  }
  #card--map--projects {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  #card--spotify--projects {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #card--photos--projects {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--rotation--projects {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  #card--guestbook--projects {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  #card--running--projects {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  #card--bankist--projects {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--omnifood--projects {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #card--github--projects {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #card--linkedin--projects {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  #card--twitter--projects {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #card--instagram--projects {
    grid-column: 3/4;
    grid-row: 5/6;
  }

  /*             */
  /*             */
  /* CARD--MEDIA */
  /*             */
  /*             */
  #card--intro--media {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  #card--map--media {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  #card--spotify--media {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #card--photos--media {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--rotation--media {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  #card--guestbook--media {
    grid-column: 2/4;
    grid-row: 6/7;
  }
  #card--running--media {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  #card--bankist--media {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  #card--omnifood--media {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  #card--github--media {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #card--linkedin--media {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--twitter--media {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #card--instagram--media {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  /*               */
  /*               */
  /* CARD--RUNNING */
  /*               */
  /*               */
  #card--intro--running {
    grid-column: 2/4;
    grid-row: 4/6;
  }
  #card--map--running {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  #card--spotify--running {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--photos--running {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #card--rotation--running {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #card--guestbook--running {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  #card--running--running {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--bankist--running {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  #card--omnifood--running {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  #card--github--running {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #card--linkedin--running {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  #card--twitter--running {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--instagram--running {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

/*                  */
/*                  */
/* MAX-WIDTH: 880PX */
/*                  */
/* 50.00%           */

@media (max-width: 55em) {
  html {
    font-size: 50%;
  }
}

/*                  */
/*                  */
/* MAX-WIDTH: 760PX */
/*                  */
/* 2 COLUMN GRID    */

@media (max-width: 47.5em) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 2.2rem;
    /* padding-bottom: 2.2rem; */
    height: auto;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .toggle {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .nav-btn {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
  .filters-primary {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 4.8rem;
  }
  .grid {
    grid-template-columns: repeat(2, 28rem);
    grid-template-rows: repeat(10, 28rem);
  }
  .container {
    max-width: 58.5rem;
  }

  /*           */
  /*           */
  /* CARD--ALL */
  /*           */
  /*           */
  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--spotify--all {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #card--photos--all {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  #card--rotation--all {
    grid-column: 2/3;
    grid-row: 5/7;
  }
  #card--guestbook--all {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  #card--running--all {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  #card--bankist--all {
    grid-column: 2/3;
    grid-row: 8/9;
  }
  #card--omnifood--all {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  #card--github--all {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  #card--linkedin--all {
    grid-column: 2/3;
    grid-row: 9/10;
  }
  #card--twitter--all {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  /*             */
  /*             */
  /* CARD--ABOUT */
  /*             */
  /*             */
  #card--intro--about {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--about {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--spotify--about {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  #card--photos--about {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--rotation--about {
    grid-column: 2/3;
    grid-row: 7/9;
  }
  #card--guestbook--about {
    grid-column: 1/3;
    grid-row: 9/10;
  }
  #card--running--about {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  #card--bankist--about {
    grid-column: 2/3;
    grid-row: 10/11;
  }
  #card--omnifood--about {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  #card--github--about {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  #card--linkedin--about {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  #card--twitter--about {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #card--instagram--about {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  /*                */
  /*                */
  /* CARD--PROJECTS */
  /*                */
  /*                */
  #card--intro--projects {
    grid-column: 1/3;
    grid-row: 8/10;
  }
  #card--map--projects {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  #card--spotify--projects {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #card--photos--projects {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  #card--rotation--projects {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  #card--guestbook--projects {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--running--projects {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  #card--bankist--projects {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #card--omnifood--projects {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #card--github--projects {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--linkedin--projects {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  #card--twitter--projects {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--instagram--projects {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  /*             */
  /*             */
  /* CARD--MEDIA */
  /*             */
  /*             */
  #card--intro--media {
    grid-column: 1/3;
    grid-row: 7/9;
  }
  #card--map--media {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  #card--spotify--media {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #card--photos--media {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #card--rotation--media {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  #card--guestbook--media {
    grid-column: 1/3;
    grid-row: 10/11;
  }
  #card--running--media {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  #card--bankist--media {
    grid-column: 2/3;
    grid-row: 9/10;
  }
  #card--omnifood--media {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  #card--github--media {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #card--linkedin--media {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #card--twitter--media {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #card--instagram--media {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  /*               */
  /*               */
  /* CARD--RUNNING */
  /*               */
  /*               */
  #card--intro--running {
    grid-column: 1/3;
    grid-row: 6/8;
  }
  #card--map--running {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  #card--spotify--running {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #card--photos--running {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #card--rotation--running {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #card--guestbook--running {
    grid-column: 1/3;
    grid-row: 9/10;
  }
  #card--running--running {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--bankist--running {
    grid-column: 2/3;
    grid-row: 8/9;
  }
  #card--omnifood--running {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  #card--github--running {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  #card--linkedin--running {
    grid-column: 2/3;
    grid-row: 10/11;
  }
  #card--twitter--running {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #card--instagram--running {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

/*                  */
/*                  */
/* MAX-WIDTH: 594PX */
/*                  */
/*                  */
@media (max-width: 37.125em) {
  .header {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

/*                  */
/*                  */
/* MAX-WIDTH: 524PX */
/*                  */
/*                  */
@media (max-width: 32.75em) {
  .container {
    max-width: 51rem;
    /* min-width: 49.5rem; */ /* breaking <--- 320px? */
  }
  .grid {
    grid-template-columns: repeat(2, 24.2rem);
    grid-template-rows: repeat(10, 24.2rem);
  }
  .memoji {
    width: 30%;
    margin-bottom: 0.8rem;
  }
  .intro-subheading {
    font-size: 1.8rem;
  }
  .heading-primary {
    font-size: 4.4rem;
    margin-bottom: 1.6rem;
  }
  .intro-text {
    width: 38ch;
  }
  .heading-secondary {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
  .subheading {
    font-size: 1.2rem;
  }
  .filters-secondary {
    margin-bottom: 2.4rem;
  }
  .running-statistic {
    margin-bottom: 1.8rem;
  }
}

/*                  */
/*                  */
/* MAX-WIDTH: 456PX */
/*                  */
/*                  */

@media (max-width: 28.5em) {
  html {
    font-size: 43.75%;
  }
}

/*                  */
/*                  */
/* MAX-WIDTH: 404PX */
/*                  */
/*                  */
@media (max-width: 25.25em) {
  html {
    font-size: 37.5%;
  }
  body {
    --mapbox-zoom: 11.5;
    --mapbox-icon-size: 0.2;
  }
  body.dark {
    --switch-position-left: 3.8rem;
  }

  /* NAVIGATION */
  .toggle {
    height: 4.48rem;
    width: 7.84rem;
  }
  .switch {
    height: 3.68rem;
    width: 3.68rem;
  }
  .toggle-icon {
    width: 2rem;
    height: 2rem;
  }
  .switch .dark {
    left: 80rem;
  }
  .nav-btn {
    padding: 3px;
  }
  .nav-cta:link {
    font-size: 14px;
    font-weight: 500;
  }
  .filter-list {
    font-size: 14px;
    font-weight: 500;
  }

  /* INTRODUCTION */
  .memoji {
    width: 25%;
    margin-bottom: 0.8rem;
  }
  .intro-subheading {
    font-size: 2rem;
  }
  .heading-primary {
    font-size: 5.2rem;
    margin-bottom: 0.8rem;
  }
  .intro-text {
    font-size: 13px;
    width: 34ch;
    margin-bottom: 2rem;
  }
  .intro-cta:link {
    font-size: 2rem;
    font-weight: 500;
  }

  .heading-secondary {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
  .subheading {
    font-size: 1.14rem;
  }
  .filters-secondary {
    margin-bottom: 2.4rem;
  }
  .running-statistic {
    margin-bottom: 2rem;
  }

  /* LINKS */
  .link-small {
    padding: 1.6rem;
  }
  .link-small a {
    position: relative;
    color: #1d1d1d;
    height: 2rem;
    width: 2rem;
  }
  .link-small:hover ~ .link-big {
    z-index: -1;
    opacity: 0;
  }
  .project-banner {
    font-size: 1.55rem;
  }
  /* MAP LOCATION */
  .mapboxgl-ctrl-logo {
    z-index: 0 !important;
    position: absolute;
    pointer-events: none;
  }
}

/*                  */
/*                  */
/* MAX-WIDTH: 342PX */
/*                  */
/*                  */
@media (max-width: 21.375em) {
  html {
    font-size: 31.25%;
  }
  body {
    --mapbox-zoom: 11.15;
    --mapbox-icon-size: 0.2;
  }
  body.dark {
    --switch-position-left: 3.8rem;
  }

  /* GENERAL */
  .card--spotify,
  .card--spotify,
  .card--rotation,
  .card--running,
  .card--guestbook {
    padding: 2.4rem;
  }
  .filter-list-secondary {
    font-size: 1.8rem;
  }
  .filter-secondary {
    padding: 0.8rem 1.2rem;
  }

  /* TEXT */
  .heading-secondary {
    font-size: 2.7rem;
    margin-bottom: 1.6rem;
  }
  .subheading {
    font-size: 1.55rem;
  }

  /* NAVIGATION */
  .toggle {
    height: 4.48rem;
    width: 7.84rem;
  }
  .switch {
    height: 3.68rem;
    width: 3.68rem;
  }
  .toggle-icon {
    width: 2rem;
    height: 2rem;
  }
  .switch .dark {
    left: 80rem;
  }
  .nav-cta:link {
    font-size: 2.45rem;
    font-weight: 500;
  }
  .filter-list {
    font-size: 2.45rem;
    font-weight: 500;
  }

  /* INTRODUCTION */
  .card--intro {
    display: grid;
    grid-template-columns: auto auto;
  }
  .memoji {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 70%;
    justify-self: end;
  }
  .intro-subheading {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2.6rem;
    margin-top: 1.4rem;
    margin-bottom: -4.9rem;
  }
  .heading-primary {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 4.5rem;
    margin-bottom: 0;
  }
  .intro-text {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 2.6rem;
    max-width: 22ch;
    margin-top: -2rem;
  }
  .intro-btn {
    width: fit-content;
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .intro-cta:link {
    font-size: 2.45rem;
    font-weight: 5600;
  }

  /* RUNNING DASHBOARD */
  .filters-secondary {
    margin-bottom: 2.4rem;
  }
  .running-statistic {
    font-size: 2.6rem;
    margin-bottom: 1.3rem;
  }

  /* LINKS */
  .link-small {
    padding: 1.6rem;
  }
  .link-small a {
    position: relative;
    color: #1d1d1d;
    height: 2rem;
    width: 2rem;
  }
  .link-small:hover ~ .link-big {
    z-index: -1;
    opacity: 0;
  }
  .project-banner {
    font-size: 1.55rem;
  }
}

/*                            */
/*                            */
/* END OF OPTIMISATION; 300PX */
/*                            */
/*                            */
