/* 
CALCULATIONS;
CONTAINER WHITESPACE 4COL: 24 + 24 + 24 + 32 + 32 = 136PX 
CONTAINER WHITESPACE 3COL: 24 + 24 + 32 + 32 = 112PX
CONTAINER WHITESPACE 2COL: 24 + 32 + 32 = 88PX
*/

/* MIN WIDTH: 1200PX */
/*                   */
/* (4, 266PX)        */

/* MAX-WIDTH: 1200PX */
/*                   */
/* (4, 216PX)        */

@media (max-width: 1200px) {
  /* GENERAL */
  .container,
  .header {
    max-width: 1000px;
  }
  .grid {
    grid-template-columns: repeat(4, 216px);
    grid-template-rows: repeat(5, 216px);
  }
  .heading-secondary {
    font-size: 23px;
    margin-bottom: 16px; /* RETURN */
  }

  /* INTRO */
  .memoji {
    margin-bottom: 24px;
  }
  .intro-subheading {
    font-size: 19px;
    margin-bottom: -6px;
  }
  .intro-heading {
    font-size: 56px;
    margin-bottom: 16px;
  }
  .intro-text {
    font-size: 16px;
    width: 36ch;
    margin-bottom: 26px;
  }

  /* MAP */
  body {
    --mapbox-zoom: 11.25;
  }

  /* RUNNING */
  .filters-secondary {
    margin-bottom: 20px;
  }
  .filters-container-secondary {
    padding: 3px 4px 3px 4px;
  }
  .filter-secondary {
    padding: 4px 7px;
  }
  .filter-list-secondary {
    font-size: 13px;
  }
  .subheading {
    font-size: 11.5px;
  }
  .running-statistic {
    font-size: 20px;
    margin-bottom: 14px;
  }

  /* LEARNING */
  .learning-container {
    padding: 10px 0;
  }
  .learning-header {
    margin-bottom: 10px;
  }
  .learning-text-container {
    width: 28ch;
  }
  .learning-container:first-of-type {
    padding: 0 0 10px 0;
  }
  .learning-course {
    font-size: 13.9px;
  }
  .learning-status {
    font-size: 11.5px;
  }

  /* SPOTIFY */
  .card--spotify {
    grid-template-columns: 152px 1fr;
    column-gap: 56px;
  }
  .spotify-logo {
    width: 40px;
  }
  .current-status {
    font-size: 15px;
  }
  .now-playing {
    font-size: 20px;
  }
  .song-artist {
    font-size: 15px;
  }

  /* ROTATION */
  .rotation-shoe {
    font-size: 20px;
  }
}

/* MAX-WIDTH: 1000PX */
/*                   */
/* (3, 229PX)        */

@media (max-width: 1000px) {
  /* GENERAL */
  .container,
  .header {
    max-width: 800px;
  }
  .grid {
    grid-template-columns: repeat(3, 229px);
    grid-template-rows: repeat(7, 229px);
  }
  .heading-secondary {
    font-size: 25px;
    margin-bottom: 20px;
  }

  /* INTRO */
  .memoji {
    margin-bottom: 28px;
  }
  .intro-subheading {
    font-size: 22px;
  }
  .intro-heading {
    font-size: 60px;
  }
  .intro-text {
    font-size: 17px;
    margin-bottom: 28px;
  }

  /* RUNNING */
  .filters-secondary {
    margin-bottom: 26px;
  }
  .filter-secondary {
    padding: 4.5px 9px;
  }
  .subheading {
    font-size: 12px;
  }
  .running-statistic {
    font-size: 21.5px;
  }

  /* LEARNING */
  .learning-container {
    padding: 12px 0;
  }
  .learning-header {
    margin-bottom: 12px;
  }
  .learning-container:first-of-type {
    padding: 0 0 12px 0;
  }
  .learning-course {
    font-size: 15px;
  }

  /* SPOTIFY */
  .card--spotify {
    grid-template-columns: 165px 1fr;
    column-gap: 56px;
  }
  .spotify-logo {
    width: 42px;
  }
  .current-status {
    font-size: 15px;
  }
  .now-playing {
    font-size: 22px;
  }
  .song-artist {
    font-size: 15px;
  }

  /* ROTATION */
  .rotation-shoe {
    font-size: 21.5px;
  }

  /*           */
  /*           */
  /* CARD--ALL */
  /*           */
  /*           */
  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--all {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--running--all {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  #card--learning--all {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  #card--spotify--all {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  #card--rotation--all {
    grid-column: 2/4;
    grid-row: 5/6;
  }
  #card--github--all {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  #card--twitter--all {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  #card--linkedin--all {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 7/8;
  }

  /*             */
  /*             */
  /* CARD--ABOUT */
  /*             */
  /*             */
  #card--intro--about {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--about {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--about {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--running--about {
    grid-column: 3/4;
    grid-row: 4/6;
    opacity: var(--card-opacity);
  }
  #card--learning--about {
    grid-column: 1/2;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--spotify--about {
    grid-column: 2/4;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }
  #card--rotation--about {
    grid-column: 1/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--github--about {
    grid-column: 2/3;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--twitter--about {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  #card--linkedin--about {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--instagram--about {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  /*                */
  /*                */
  /* CARD--PROJECTS */
  /*                */
  /*                */
  #card--intro--projects {
    grid-column: 1/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--map--projects {
    grid-column: 1/3;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
  #card--photos--projects {
    grid-column: 3/4;
    grid-row: 2/3;
    opacity: var(--card-opacity);
  }
  #card--running--projects {
    grid-column: 3/4;
    grid-row: 3/5;
    opacity: var(--card-opacity);
  }
  #card--learning--projects {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--spotify--projects {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  #card--rotation--projects {
    grid-column: 2/4;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--github--projects {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--twitter--projects {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--linkedin--projects {
    grid-column: 1/2;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--instagram--projects {
    grid-column: 3/4;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }

  /*             */
  /*             */
  /* CARD--MEDIA */
  /*             */
  /*             */
  #card--intro--media {
    grid-column: 2/4;
    grid-row: 5/7;
    opacity: var(--card-opacity);
  }
  #card--map--media {
    grid-column: 1/3;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--photos--media {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--running--media {
    grid-column: 3/4;
    grid-row: 3/5;
    opacity: var(--card-opacity);
  }
  #card--learning--media {
    grid-column: 1/2;
    grid-row: 5/7;
    opacity: var(--card-opacity);
  }
  #card--spotify--media {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--rotation--media {
    grid-column: 1/3;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
  #card--github--media {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #card--twitter--media {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #card--linkedin--media {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--instagram--media {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  /*               */
  /*               */
  /* CARD--RUNNING */
  /*               */
  /*               */
  #card--intro--running {
    grid-column: 1/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--map--running {
    grid-column: 1/3;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
  #card--photos--running {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--running--running {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--learning--running {
    grid-column: 3/4;
    grid-row: 5/7;
    opacity: var(--card-opacity);
  }
  #card--spotify--running {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--rotation--running {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  #card--github--running {
    grid-column: 1/2;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--twitter--running {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  #card--linkedin--running {
    grid-column: 2/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--instagram--running {
    grid-column: 3/4;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
}

/* MAX-WIDTH: 800PX */
/*                  */
/* (3, 168PX)       */

@media (max-width: 800px) {
  /* GENERAL */
  .container {
    max-width: 546px;
  }
  .grid {
    grid-template-columns: repeat(2, 229px);
    grid-template-rows: repeat(10, 229px);
  }

  /* HEADER */
  .header {
    height: auto;
    max-width: 402px;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .toggle-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .nav-btn {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
  .filters-primary {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 30px;
  }

  /*           */
  /*           */
  /* CARD--ALL */
  /*           */
  /*           */
  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--all {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #card--running--all {
    grid-column: 2/3;
    grid-row: 5/7;
  }
  #card--learning--all {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  #card--spotify--all {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #card--rotation--all {
    grid-column: 1/3;
    grid-row: 8/9;
  }
  #card--github--all {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  #card--twitter--all {
    grid-column: 1/3;
    grid-row: 9/10;
  }
  #card--linkedin--all {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  /*             */
  /*             */
  /* CARD--ABOUT */
  /*             */
  /*             */
  #card--intro--about {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--about {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--about {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--running--about {
    grid-column: 2/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--learning--about {
    grid-column: 1/2;
    grid-row: 7/9;
    opacity: var(--card-opacity);
  }
  #card--spotify--about {
    grid-column: 1/3;
    grid-row: 10/11;
    opacity: var(--card-opacity);
  }
  #card--rotation--about {
    grid-column: 1/3;
    grid-row: 9/10;
    opacity: var(--card-opacity);
  }
  #card--github--about {
    grid-column: 2/3;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }
  #card--twitter--about {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  #card--linkedin--about {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #card--instagram--about {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  /*                */
  /*                */
  /* CARD--PROJECTS */
  /*                */
  /*                */
  #card--intro--projects {
    grid-column: 1/3;
    grid-row: 9/11;
    opacity: var(--card-opacity);
  }
  #card--map--projects {
    grid-column: 1/3;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }
  #card--photos--projects {
    grid-column: 1/2;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--running--projects {
    grid-column: 2/3;
    grid-row: 4/6;
    opacity: var(--card-opacity);
  }
  #card--learning--projects {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--spotify--projects {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--rotation--projects {
    grid-column: 1/3;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--github--projects {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--twitter--projects {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #card--linkedin--projects {
    grid-column: 1/2;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }
  #card--instagram--projects {
    grid-column: 2/3;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }

  /*             */
  /*             */
  /* CARD--MEDIA */
  /*             */
  /*             */
  #card--intro--media {
    grid-column: 1/3;
    grid-row: 9/11;
    opacity: var(--card-opacity);
  }
  #card--map--media {
    grid-column: 1/3;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }
  #card--photos--media {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--running--media {
    grid-column: 2/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--learning--media {
    grid-column: 1/2;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--spotify--media {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #card--rotation--media {
    grid-column: 1/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--github--media {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #card--twitter--media {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #card--linkedin--media {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #card--instagram--media {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  /*               */
  /*               */
  /* CARD--RUNNING */
  /*               */
  /*               */
  #card--intro--running {
    grid-column: 1/3;
    grid-row: 8/10;
    opacity: var(--card-opacity);
  }
  #card--map--running {
    grid-column: 1/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--photos--running {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--running--running {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  #card--learning--running {
    grid-column: 2/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--spotify--running {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #card--rotation--running {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #card--github--running {
    grid-column: 1/2;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--twitter--running {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #card--linkedin--running {
    grid-column: 1/2;
    grid-row: 10/11;
    opacity: var(--card-opacity);
  }
  #card--instagram--running {
    grid-column: 1/2;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }
}

/*                   */
/* ... CURRENTLY ... */
/*                   */

@media (max-width: 546px) {
  /* GENERAL */
  .container {
    max-width: 424px;
  }
  .grid {
    grid-template-columns: repeat(2, 168px);
    grid-template-rows: repeat(16, 168px);
  }
  .heading-secondary {
    font-size: 30px;
  }
  .heading-secondary-mobile {
    align-self: center;
    justify-self: center;
  }
  .heading-secondary-helper {
    margin-bottom: 0;
  }

  /* HEADING */
  .header {
    max-width: 360px;
  }
  .filters-list {
    font-size: 15px;
  }
  .filter {
    padding: 6.5px 13px;
  }
  .nav-cta:link,
  .nav-cta:visited {
    font-size: 15px;
    padding: 7px 14px;
  }

  /* INTRO */
  .card--intro {
    display: grid;
    grid-template-columns: auto 88px;
  }
  .memoji {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 35%;
    margin: -10px 0 8px -8px;
  }
  .intro-subheading {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 17px;
    align-self: flex-end;
    margin-bottom: -6px;
  }
  .intro-heading {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 36px;
    margin-bottom: 8px;
    margin-left: -0.5px;
  }
  .intro-text {
    grid-column: 1/3;
    grid-row: 4/5;
    font-size: 15px;
    width: 29ch;
    margin-bottom: 16px;
  }
  .intro-btn {
    width: fit-content;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .intro-cta:link,
  .intro-cta:visited {
    font-size: 15px;
    padding: 7px 14px;
  }

  /* MAP */
  body {
    --mapbox-zoom: 11.75;
    --mapbox-icon-size: 0.26;
  }

  /* RUNNING */
  .filters-container-secondary {
    padding: 4px 5px 4px 5px;
  }
  .filters-secondary {
    margin-bottom: 32px;
  }
  .filter-list-secondary {
    font-size: 15px;
  }
  .filter-secondary {
    padding: 6.5px 13px;
  }
  .statistics-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
  }
  .statistic-block {
    display: flex;
    flex-direction: column;
  }
  /* .statistic-block:nth-child(1),
  .statistic-block:nth-child(3),
  .statistic-block:nth-child(6) {
    align-items: flex-end;
  } */
  .statistic-block:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .running-statistic {
    margin-bottom: 20px;
  }

  /* LEARNING */
  /* 
    learning-container
      learning-header
        logo container / logo-helper
          learning-logo / logo-html
          learning-logo / logo-css
        learning-text-container
          learning-course
      
      learning-status
  */

  /* .learning-container {
  } */
  .card--learning {
    display: flex;
    flex-direction: column;
  }
  .learning-container-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .learning-container {
    display: grid;
    padding: 0;
    border-bottom: none;
  }
  .learning-container:first-of-type {
    padding: 0;
  }
  .learning-container:last-child {
    /* border-bottom: 2px solid var(--filter-background-color); */
    padding: 0;
  }
  .learning-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 26px;
    margin-bottom: 10px;
  }
  .logo-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
  }
  .logo-helper {
    flex-direction: row;
    margin-right: 0px;
  }
  .learning-text-container {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    width: 20ch;
    justify-self: center;
  }
  .learning-course {
    font-size: 15px;
    text-align: center;
  }
  .learning-status {
    justify-self: center;
    margin: 0 0 0 0;
  }

  .learning-container:nth-child(3) .learning-status {
    padding-top: 16.88px;
  }

  /* SECONDARY */
  /* .learning-header {
    margin-bottom: 0px;
  }
  .learning-text-container {
    width: 22ch;
  } */

  /* SPOTIFY */
  .card--spotify {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0px;
  }
  .song-artwork {
    grid-column: 1/3;
    grid-template-rows: 1/3;
  }
  .spotify-logo {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 64px;
    justify-self: flex-end;
  }
  .spotify-information {
    grid-column: 1/5;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .current-status {
    font-size: 17px;
  }
  .now-playing {
    font-size: 30px;
  }
  .song-artist {
    font-size: 17px;
  }

  /* ROTATION */
  /* SOCIALS */

  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  #card--photos--all {
    grid-column: 1/3;
    grid-row: 7/9;
  }
  #card--running--all {
    grid-column: 1/3;
    grid-row: 9/11;
  }
  #card--learning--all {
    grid-column: 1/3;
    grid-row: 11/13;
  }
  #card--spotify--all {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  #card--rotation--all {
    grid-column: 1/3;
    grid-row: 8/9;
    display: none;
  }
  #card--github--all {
    grid-column: 2/3;
    grid-row: 7/8;
    display: none;
  }
  #card--twitter--all {
    grid-column: 1/3;
    grid-row: 9/10;
    display: none;
  }
  #card--linkedin--all {
    grid-column: 1/2;
    grid-row: 10/11;
    display: none;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 10/11;
    display: none;
  }
}
