/* 
CALCULATIONS;
CONTAINER WHITESPACE 4COL: 24 + 24 + 24 + 32 + 32 = 136PX 
CONTAINER WHITESPACE 3COL: 24 + 24 + 32 + 32 = 112PX
CONTAINER WHITESPACE 2COL: 24 + 32 + 32 = 88PX

CONTAINER WHITESPACE 2COL: 24 + 24 + 24 = 72PX
*/

/* 
9999PX -> 1200PX 
COLUMNS: 4(266PX) 
ROWS:    5(266PX)
*/

/* 
1200PX -> 1000PX 
COLUMNS: 4(216PX) 
ROWS:    5(216PX)
*/
@media (max-width: 1199px) {
  /* GENERAL */
  .container,
  .header {
    max-width: 1000px;
  }
  .grid {
    grid-template-columns: repeat(4, 216px);
    grid-template-rows: repeat(5, 216px);
  }
  .heading-secondary {
    font-size: 23px;
    margin-bottom: 16px; /* RETURN */
  }

  /* INTRO */
  .memoji {
    margin-bottom: 24px;
  }
  .intro-subheading {
    font-size: 19px;
    margin-bottom: -6px;
  }
  .intro-heading {
    font-size: 56px;
    margin-bottom: 16px;
  }
  .intro-text {
    font-size: 16px;
    width: 36ch;
    margin-bottom: 26px;
  }

  /* MAP */
  body {
    --mapbox-zoom: 11.25;
  }

  /* PHOTOS */
  .photo {
    width: 216px;
    height: 216px;
  }

  /* RUNNING */
  .filters-secondary {
    margin-bottom: 20px;
  }
  .filters-container-secondary {
    padding: 3px 4px 3px 4px;
  }
  .filter-secondary {
    padding: 4px 7px;
  }
  .filter-list-secondary {
    font-size: 13px;
  }
  .subheading {
    font-size: 11.5px;
  }
  .running-statistic {
    font-size: 20px;
    margin-bottom: 14px;
  }

  /* LEARNING */
  .learning-container {
    padding: 10px 0;
  }
  .learning-header {
    margin-bottom: 10px;
  }
  .learning-text-container {
    width: 28ch;
  }
  .learning-container:first-of-type {
    padding: 0 0 10px 0;
  }
  .learning-course {
    font-size: 13.9px;
  }
  .learning-status {
    font-size: 11.5px;
  }

  /* SPOTIFY */
  .card--spotify {
    grid-template-columns: 152px 1fr;
    column-gap: 56px;
  }
  .spotify-logo {
    width: 40px;
  }
  .current-status {
    font-size: 15px;
  }
  .now-playing {
    font-size: 20px;
  }
  .song-artist {
    font-size: 15px;
  }

  /* ROTATION */
  .rotation-shoe {
    font-size: 20px;
  }
}

/* 
1000PX --> 800PX 
COLUMNS: 3(229PX) 
ROWS:    7(229PX)
*/
@media (max-width: 999px) {
  /* GENERAL */
  .container,
  .header {
    max-width: 800px;
  }
  .grid {
    grid-template-columns: repeat(3, 229px);
    grid-template-rows: repeat(7, 229px);
  }
  .heading-secondary {
    font-size: 25px;
    margin-bottom: 20px;
  }

  /* INTRO */
  .memoji {
    margin-bottom: 28px;
  }
  .intro-subheading {
    font-size: 22px;
  }
  .intro-heading {
    font-size: 60px;
  }
  .intro-text {
    font-size: 17px;
    margin-bottom: 28px;
  }

  /* PHOTOS */
  .photo {
    width: 229px;
    height: 229px;
  }

  /* RUNNING */
  .filters-secondary {
    margin-bottom: 26px;
  }
  .filter-secondary {
    padding: 4.5px 9px;
  }
  .subheading {
    font-size: 12px;
  }
  .running-statistic {
    font-size: 21.5px;
  }

  /* LEARNING */
  .learning-container {
    padding: 12px 0;
  }
  .learning-header {
    margin-bottom: 12px;
  }
  .learning-container:first-of-type {
    padding: 0 0 12px 0;
  }
  .learning-course {
    font-size: 15px;
  }

  /* SPOTIFY */
  .card--spotify {
    grid-template-columns: 165px 1fr;
    column-gap: 56px;
  }
  .spotify-logo {
    width: 42px;
  }
  .current-status {
    font-size: 15px;
  }
  .now-playing {
    font-size: 22px;
  }
  .song-artist {
    font-size: 15px;
  }

  /* ROTATION */
  .rotation-shoe {
    font-size: 21.5px;
  }

  /*           */
  /*           */
  /* CARD--ALL */
  /*           */
  /*           */
  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--all {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--running--all {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  #card--learning--all {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  #card--spotify--all {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  #card--rotation--all {
    grid-column: 2/4;
    grid-row: 5/6;
  }
  #card--github--all {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  #card--twitter--all {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  #card--linkedin--all {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 7/8;
  }

  /*             */
  /*             */
  /* CARD--ABOUT */
  /*             */
  /*             */
  #card--intro--about {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--about {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--about {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--running--about {
    grid-column: 3/4;
    grid-row: 4/6;
    opacity: var(--card-opacity);
  }
  #card--learning--about {
    grid-column: 1/2;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--spotify--about {
    grid-column: 2/4;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }
  #card--rotation--about {
    grid-column: 1/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--github--about {
    grid-column: 2/3;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--twitter--about {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  #card--linkedin--about {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--instagram--about {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  /*                */
  /*                */
  /* CARD--PROJECTS */
  /*                */
  /*                */
  #card--intro--projects {
    grid-column: 1/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--map--projects {
    grid-column: 1/3;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
  #card--photos--projects {
    grid-column: 3/4;
    grid-row: 2/3;
    opacity: var(--card-opacity);
  }
  #card--running--projects {
    grid-column: 3/4;
    grid-row: 3/5;
    opacity: var(--card-opacity);
  }
  #card--learning--projects {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--spotify--projects {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  #card--rotation--projects {
    grid-column: 2/4;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--github--projects {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--twitter--projects {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--linkedin--projects {
    grid-column: 1/2;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--instagram--projects {
    grid-column: 3/4;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }

  /*             */
  /*             */
  /* CARD--MEDIA */
  /*             */
  /*             */
  #card--intro--media {
    grid-column: 2/4;
    grid-row: 5/7;
    opacity: var(--card-opacity);
  }
  #card--map--media {
    grid-column: 1/3;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--photos--media {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #card--running--media {
    grid-column: 3/4;
    grid-row: 3/5;
    opacity: var(--card-opacity);
  }
  #card--learning--media {
    grid-column: 1/2;
    grid-row: 5/7;
    opacity: var(--card-opacity);
  }
  #card--spotify--media {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--rotation--media {
    grid-column: 1/3;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
  #card--github--media {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #card--twitter--media {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #card--linkedin--media {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--instagram--media {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  /*               */
  /*               */
  /* CARD--RUNNING */
  /*               */
  /*               */
  #card--intro--running {
    grid-column: 1/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--map--running {
    grid-column: 1/3;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
  #card--photos--running {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--running--running {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--learning--running {
    grid-column: 3/4;
    grid-row: 5/7;
    opacity: var(--card-opacity);
  }
  #card--spotify--running {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--rotation--running {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  #card--github--running {
    grid-column: 1/2;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--twitter--running {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  #card--linkedin--running {
    grid-column: 2/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--instagram--running {
    grid-column: 3/4;
    grid-row: 4/5;
    opacity: var(--card-opacity);
  }
}

/* 
800PX ---> 546PX 
COLUMNS: 2(229PX) 
ROWS:   10(229PX)
*/
@media (max-width: 799px) {
  /* GENERAL */
  .container {
    max-width: 546px;
  }
  .grid {
    grid-template-columns: repeat(2, 229px);
    grid-template-rows: repeat(10, 229px);
  }

  /* HEADER */
  .header {
    height: auto;
    max-width: 402px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .toggle-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .nav-btn {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
  .filters-primary {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 30px;
  }

  /* MAP */
  body {
    --mobile-device: 1;
  }

  /*           */
  /*           */
  /* CARD--ALL */
  /*           */
  /*           */
  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--all {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #card--running--all {
    grid-column: 2/3;
    grid-row: 5/7;
  }
  #card--learning--all {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  #card--spotify--all {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #card--rotation--all {
    grid-column: 1/3;
    grid-row: 8/9;
  }
  #card--github--all {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  #card--twitter--all {
    grid-column: 1/3;
    grid-row: 9/10;
  }
  #card--linkedin--all {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  /*             */
  /*             */
  /* CARD--ABOUT */
  /*             */
  /*             */
  #card--intro--about {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--about {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--photos--about {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--running--about {
    grid-column: 2/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--learning--about {
    grid-column: 1/2;
    grid-row: 7/9;
    opacity: var(--card-opacity);
  }
  #card--spotify--about {
    grid-column: 1/3;
    grid-row: 10/11;
    opacity: var(--card-opacity);
  }
  #card--rotation--about {
    grid-column: 1/3;
    grid-row: 9/10;
    opacity: var(--card-opacity);
  }
  #card--github--about {
    grid-column: 2/3;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }
  #card--twitter--about {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  #card--linkedin--about {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #card--instagram--about {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  /*                */
  /*                */
  /* CARD--PROJECTS */
  /*                */
  /*                */
  #card--intro--projects {
    grid-column: 1/3;
    grid-row: 9/11;
    opacity: var(--card-opacity);
  }
  #card--map--projects {
    grid-column: 1/3;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }
  #card--photos--projects {
    grid-column: 1/2;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--running--projects {
    grid-column: 2/3;
    grid-row: 4/6;
    opacity: var(--card-opacity);
  }
  #card--learning--projects {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  #card--spotify--projects {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--rotation--projects {
    grid-column: 1/3;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--github--projects {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #card--twitter--projects {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #card--linkedin--projects {
    grid-column: 1/2;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }
  #card--instagram--projects {
    grid-column: 2/3;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }

  /*             */
  /*             */
  /* CARD--MEDIA */
  /*             */
  /*             */
  #card--intro--media {
    grid-column: 1/3;
    grid-row: 9/11;
    opacity: var(--card-opacity);
  }
  #card--map--media {
    grid-column: 1/3;
    grid-row: 8/9;
    opacity: var(--card-opacity);
  }
  #card--photos--media {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--running--media {
    grid-column: 2/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--learning--media {
    grid-column: 1/2;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--spotify--media {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #card--rotation--media {
    grid-column: 1/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--github--media {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #card--twitter--media {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #card--linkedin--media {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #card--instagram--media {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  /*               */
  /*               */
  /* CARD--RUNNING */
  /*               */
  /*               */
  #card--intro--running {
    grid-column: 1/3;
    grid-row: 8/10;
    opacity: var(--card-opacity);
  }
  #card--map--running {
    grid-column: 1/3;
    grid-row: 5/6;
    opacity: var(--card-opacity);
  }
  #card--photos--running {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #card--running--running {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  #card--learning--running {
    grid-column: 2/3;
    grid-row: 6/8;
    opacity: var(--card-opacity);
  }
  #card--spotify--running {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #card--rotation--running {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #card--github--running {
    grid-column: 1/2;
    grid-row: 7/8;
    opacity: var(--card-opacity);
  }
  #card--twitter--running {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #card--linkedin--running {
    grid-column: 1/2;
    grid-row: 10/11;
    opacity: var(--card-opacity);
  }
  #card--instagram--running {
    grid-column: 1/2;
    grid-row: 6/7;
    opacity: var(--card-opacity);
  }
}

/* 
546PX ---> 424PX 
COLUMNS: 2(168PX) 
ROWS:   17(168PX)
*/
@media (max-width: 545px) {
  /* GENERAL */
  .container {
    max-width: 424px;
  }
  .grid {
    grid-template-columns: repeat(2, 168px);
    grid-template-rows: repeat(17, 168px);
  }
  .heading-secondary {
    font-size: 30px;
  }
  .heading-secondary-mobile {
    align-self: center;
    justify-self: center;
  }
  .heading-secondary--less-margin {
    margin-bottom: 0;
  }

  /* HEADING */
  .header {
    max-width: 360px;
  }
  .filters-list {
    font-size: 15px;
  }
  .filter {
    padding: 6.5px 13px;
  }
  .nav-cta:link,
  .nav-cta:visited {
    font-size: 15px;
    padding: 7px 14px;
  }

  /* INTRO */
  .card--intro {
    display: grid;
    grid-template-columns: auto;
  }
  .memoji {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 35%;
    margin: -10px 0 8px -8px;
  }
  .intro-subheading {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 17px;
    align-self: flex-end;
    margin-bottom: -6px;
  }
  .intro-heading {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 36px;
    margin-bottom: 8px;
    margin-left: -0.5px;
  }
  .intro-text {
    grid-column: 1/3;
    grid-row: 4/5;
    font-size: 15px;
    width: 29ch;
    margin-bottom: 16px;
  }
  .intro-btn {
    width: fit-content;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .intro-cta:link,
  .intro-cta:visited {
    font-size: 15px;
    padding: 7px 14px;
  }

  /* MAP */
  body {
    --mapbox-zoom: 11.75;
    --mapbox-icon-size: 0.26;
  }

  /* PHOTOS */
  .photo {
    width: 168px;
    height: 168px;
  }

  /* RUNNING */
  .filters-secondary {
    margin-bottom: 32px;
  }
  .filters-container-secondary {
    padding: 4px 5px 4px 5px;
  }
  .filter-list-secondary {
    font-size: 15px;
  }
  .filter-secondary {
    padding: 6.5px 13px;
  }
  .statistics-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
  }
  .statistic-block {
    display: flex;
    flex-direction: column;
  }
  .statistic-block:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .running-statistic {
    font-size: 22px;
    margin-bottom: 24px;
  }

  /* LEARNING */
  .card--learning {
    display: flex;
    flex-direction: column;
  }
  .learning-container-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .learning-container {
    display: grid;
    padding: 0;
    border-bottom: none;
  }
  .learning-container:first-of-type {
    padding: 0;
  }
  .learning-container:last-child {
    padding: 0;
  }
  .learning-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 26px;
    margin-bottom: 10px;
  }
  .logo-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
  }
  .logo-helper {
    flex-direction: row;
    margin-right: 0px;
  }
  .learning-text-container {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    width: 19ch;
    justify-self: center;
  }
  .learning-course {
    font-size: 15px;
    text-align: center;
  }
  .learning-status {
    justify-self: center;
    margin: 0 0 0 0;
  }
  .learning-container:nth-child(3) .learning-status {
    padding-top: 16.88px;
  }

  /* SPOTIFY */
  .card--spotify {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0px;
  }
  .song-artwork {
    grid-column: 1/3;
    grid-template-rows: 1/3;
  }
  .spotify-logo {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 64px;
    justify-self: flex-end;
  }
  .spotify-information {
    grid-column: 1/5;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .current-status {
    font-size: 17px;
  }
  .now-playing {
    font-size: 26px;
  }
  .song-artist {
    font-size: 17px;
  }

  /* ROTATION */
  .card--rotation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rotation-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 10px;
  }
  .rotation-grid-left {
    grid-row: 2/3;
    justify-self: center;
  }
  .rotation-shoe {
    font-size: 22px;
    text-align: center;
  }
  .rotation-grid-right {
    grid-row: 1/2;
    margin-top: -10px;
    left: 8.75%;
  }
  .shoe-image {
    width: 82.5%;
  }

  /*           */
  /*           */
  /* CARD--ALL */
  /*           */
  /*           */
  #card--intro--all {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--all {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  #card--photos--all {
    grid-column: 1/3;
    grid-row: 7/9;
  }
  #card--running--all {
    grid-column: 1/3;
    grid-row: 9/11;
  }
  #card--learning--all {
    grid-column: 1/3;
    grid-row: 11/13;
  }
  #card--spotify--all {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  #card--rotation--all {
    grid-column: 1/3;
    grid-row: 13/15;
  }
  #card--github--all {
    grid-column: 1/3;
    grid-row: 17/18;
  }
  #card--twitter--all {
    grid-column: 1/3;
    grid-row: 15/16;
  }
  #card--linkedin--all {
    grid-column: 1/2;
    grid-row: 16/17;
  }
  #card--instagram--all {
    grid-column: 2/3;
    grid-row: 16/17;
  }

  /*             */
  /*             */
  /* CARD--ABOUT */
  /*             */
  /*             */
  #card--intro--about {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--map--about {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  #card--photos--about {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  #card--running--about {
    grid-column: 1/3;
    grid-row: 9/11;
    opacity: var(--card-opacity);
  }
  #card--learning--about {
    grid-column: 1/3;
    grid-row: 11/13;
    opacity: var(--card-opacity);
  }
  #card--spotify--about {
    grid-column: 1/3;
    grid-row: 15/17;
    opacity: var(--card-opacity);
  }
  #card--rotation--about {
    grid-column: 1/3;
    grid-row: 13/15;
    opacity: var(--card-opacity);
  }
  #card--github--about {
    grid-column: 1/3;
    grid-row: 17/18;
    opacity: var(--card-opacity);
  }
  #card--twitter--about {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  #card--linkedin--about {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  #card--instagram--about {
    grid-column: 2/3;
    grid-row: 8/9;
  }

  /*                */
  /*                */
  /* CARD--PROJECTS */
  /*                */
  /*                */
  #card--intro--projects {
    grid-column: 1/3;
    grid-row: 16/18;
    opacity: var(--card-opacity);
  }
  #card--map--projects {
    grid-column: 1/3;
    grid-row: 11/13;
    opacity: var(--card-opacity);
  }
  #card--photos--projects {
    grid-column: 1/3;
    grid-row: 9/11;
    opacity: var(--card-opacity);
  }
  #card--running--projects {
    grid-column: 1/3;
    grid-row: 7/9;
    opacity: var(--card-opacity);
  }
  #card--learning--projects {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--spotify--projects {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  #card--rotation--projects {
    grid-column: 1/3;
    grid-row: 13/15;
    opacity: var(--card-opacity);
  }
  #card--github--projects {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  #card--twitter--projects {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #card--linkedin--projects {
    grid-column: 1/2;
    grid-row: 15/16;
    opacity: var(--card-opacity);
  }
  #card--instagram--projects {
    grid-column: 2/3;
    grid-row: 15/16;
    opacity: var(--card-opacity);
  }

  /*             */
  /*             */
  /* CARD--MEDIA */
  /*             */
  /*             */
  #card--intro--media {
    grid-column: 1/3;
    grid-row: 16/18;
    opacity: var(--card-opacity);
  }
  #card--map--media {
    grid-column: 1/3;
    grid-row: 14/16;
    opacity: var(--card-opacity);
  }
  #card--photos--media {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  #card--running--media {
    grid-column: 1/3;
    grid-row: 10/12;
    opacity: var(--card-opacity);
  }
  #card--learning--media {
    grid-column: 1/3;
    grid-row: 12/14;
    opacity: var(--card-opacity);
  }
  #card--spotify--media {
    grid-column: 1/3;
    grid-row: 6/8;
  }
  #card--rotation--media {
    grid-column: 1/3;
    grid-row: 8/10;
    opacity: var(--card-opacity);
  }
  #card--github--media {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  #card--twitter--media {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #card--linkedin--media {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #card--instagram--media {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  /*               */
  /*               */
  /* CARD--RUNNING */
  /*               */
  /*               */
  #card--intro--running {
    grid-column: 1/3;
    grid-row: 15/17;
    opacity: var(--card-opacity);
  }
  #card--map--running {
    grid-column: 1/3;
    grid-row: 10/12;
    opacity: var(--card-opacity);
  }
  #card--photos--running {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  #card--running--running {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #card--learning--running {
    grid-column: 1/3;
    grid-row: 13/15;
    opacity: var(--card-opacity);
  }
  #card--spotify--running {
    grid-column: 1/3;
    grid-row: 8/10;
  }
  #card--rotation--running {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  #card--github--running {
    grid-column: 2/3;
    grid-row: 12/13;
    opacity: var(--card-opacity);
  }
  #card--twitter--running {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  #card--linkedin--running {
    grid-column: 1/3;
    grid-row: 17/18;
    opacity: var(--card-opacity);
  }
  #card--instagram--running {
    grid-column: 1/2;
    grid-row: 12/13;
    opacity: var(--card-opacity);
  }
}

/* 
424PX ---> 410PX 
COLUMNS: 2(161PX) 
ROWS:   17(161PX)
*/
@media (max-width: 423px) {
  /* GENERAL */
  .container {
    max-width: 410px;
  }
  .grid {
    grid-template-columns: repeat(2, 161px);
    grid-template-rows: repeat(17, 161px);
  }
  /* HEADER */
  /* INTRO */
  .intro-text {
    line-height: 1.3;
  }
  /* MAP */
  /* PHOTOS */
  .photo {
    width: 161px;
    height: 161px;
  }
  /* RUNNING */
  .statistics-container {
    column-gap: 17px;
  }
  .statistic-block:nth-child(5) .running-statistic,
  .statistic-block:nth-child(6) .running-statistic {
    margin-bottom: 0px;
  }
  /* LEARNING */
  .learning-header {
    margin-top: 18px;
  }
  /* SPOTIFY */
  /* ROTATION */
  .rotation-grid-right {
    left: 10%;
  }
  .shoe-image {
    width: 80%;
  }
  .running-statistic {
    margin-bottom: 20px;
  }
  /* SOCIALS */
  .social-media-logo {
    height: 65px;
    width: 65px;
  }
}

/* 
410PX ---> 390PX
COLUMNS: 2(151PX)
ROWS:   17(151PX)
*/
@media (max-width: 409px) {
  /* GENERAL */
  .container {
    max-width: 390px;
  }
  .grid {
    grid-template-columns: repeat(2, 151px);
    grid-template-rows: repeat(17, 151px);
  }
  .card--intro,
  .card--running,
  .card--learning,
  .card--spotify,
  .card--rotation,
  .card--github,
  .card--twitter,
  .card--instagram,
  .card--linkedin {
    padding: 24px;
  }
  .heading-secondary {
    font-size: 28px;
  }
  .subheading {
    font-size: 11.5px;
  }

  /* HEADER */
  .header {
    max-width: 346px;
  }
  .filters-list {
    font-size: 14px;
  }

  /* INTRO */
  .intro-subheading {
    font-size: 16px;
  }
  .intro-heading {
    font-size: 34px;
  }
  .intro-text {
    font-size: 14px;
  }

  /* MAP */
  body {
    --mapbox-zoom: 11.3;
    --mapbox-icon-size: 0.23;
  }

  /* PHOTOS */
  .photo {
    width: 151px;
    height: 151px;
  }

  /* RUNNING */
  .filter-list-secondary {
    font-size: 14px;
  }
  .filters-secondary {
    margin-bottom: 24px;
  }
  .running-statistic {
    margin-bottom: 24px;
  }

  /* LEARNING */
  /* SPOTIFY */
  .current-status {
    font-size: 16px;
  }
  .song-artist {
    font-size: 16px;
  }

  /* ROTATION */
  .rotation-grid {
    row-gap: 4px;
  }

  /* SOCIALS */
  .social-media-logo {
    height: 60px;
    width: 60px;
  }
}

/* 
390PX ---> 374PX
COLUMNS: 2(151PX)
ROWS:   17(151PX)
MARGIN: 24PX
*/
@media (max-width: 389px) {
  /* GENERAL */
  .container {
    max-width: 374px;
    padding: 0 24px;
  }
  /* HEADER */
  .header {
    max-width: 288px;
  }
  .filter {
    padding: 7px 14px;
  }
  [data-filter='media'] {
    display: none;
  }
  /* RUNNING */
  .filter-secondary {
    padding: 7px 14px;
  }
}

/* 
374PX ---> 360PX
COLUMNS: 2(144PX)
ROWS:   17(144PX)
*/
@media (max-width: 373px) {
  /* GENERAL */
  .container {
    max-width: 360px;
  }
  .grid {
    grid-template-columns: repeat(2, 144px);
    grid-template-rows: repeat(17, 144px);
  }
  /* HEADER */
  /* INTRO */
  .memoji {
    width: 33%;
  }
  .intro-heading {
    font-size: 32px;
  }
  .intro-cta:link,
  .intro-cta:visited {
    font-size: 14px;
  }
  /* MAP */
  /* PHOTOS */
  .photo {
    width: 144px;
    height: 144px;
  }
  /* RUNNING */
  .filter-list-secondary {
    font-size: 14px;
  }
  .running-statistic {
    margin-bottom: 18px;
  }

  /* LEARNING */
  .learning-header {
    margin-top: 14px;
  }
  .learning-course {
    font-size: 14px;
  }

  /* SPOTIFY */
  .spotify-logo {
    width: 54px;
  }
  .now-playing {
    font-size: 24px;
  }
  /* ROTATION */
  /* SOCIALS */
  .social-media-logo {
    height: 55px;
    width: 55px;
  }
}

/* 
360PX ---> 300PX
COLUMNS: 2(144PX)
ROWS:   17(144PX)
*/
@media (max-width: 359px) {
  /* GENERAL */
  .container {
    max-width: 300px;
    padding: 0 16px;
  }
  .grid {
    grid-template-columns: repeat(2, 128px);
    grid-template-rows: repeat(17, 128px);
    column-gap: 12px;
    row-gap: 12px;
  }
  .card--intro,
  .card--running,
  .card--learning,
  .card--rotation,
  .card--github,
  .card--twitter,
  .card--instagram,
  .card--linkedin {
    padding: 16px;
  }
  .heading-secondary {
    font-size: 24px;
  }
  .subheading {
    font-size: 11px;
  }

  /* HEADER */
  .header {
    max-width: 272px;
  }
  .filter {
    padding: 6px 12px;
  }
  .nav-cta:link,
  .nav-cta:visited {
    font-size: 14px;
    padding: 6px 12px;
  }

  /* INTRO */
  .memoji {
    width: 30%;
  }
  .intro-subheading {
    font-size: 15px;
  }
  .intro-heading {
    font-size: 28px;
  }
  .intro-text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .intro-cta:link,
  .intro-cta:visited {
    font-size: 14px;
    padding: 6px 12px;
  }

  /* MAP */
  body {
    --mapbox-zoom: 11.2;
    --mapbox-icon-size: 0.2;
  }
  /* RUNNING */
  .filter-secondary {
    padding: 6px 12px;
  }
  .statistics-container {
    grid-template-rows: repeat(3, auto);
  }
  .running-statistic {
    font-size: 18px;
    margin-bottom: 8px;
  }
  /* LEARNING */
  .learning-header {
    margin-bottom: 4px;
  }
  .learning-logo {
    height: 24px;
    width: 24px;
  }
  .logo-graphql {
    height: 22px;
    width: 22px;
  }
  .learning-course {
    font-size: 14px;
  }
  .learning-status {
    font-size: 11px;
  }
  /* SPOTIFY */
  /* ROTATION */
  .rotation-shoe {
    font-size: 18px;
  }
  /* SOCIALS */
  .social-media-logo {
    height: 60px;
    width: 60px;
  }
}

/* 
300PX ---> 0PX
JUST VIBES
*/
