/*         */
/*         */
/* GENERAL */
/*         */
/*         */

a {
  text-decoration: none;
  color: #1d1d1d;
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.grid {
  display: grid;
  position: relative;
  max-width: 100%;
  grid-template-columns: repeat(4, 266px);
  grid-template-rows: repeat(5, 266px);
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 80px;
}

.card {
  border-radius: 32px;
  background-color: var(--card-color);
  box-shadow: 0.2rem 0.4rem 12rem rgba(0, 0, 0, 0.08);
  padding: 32px;
  transition: var(--transition-delay);
}

/* HELPER CLASS */
.card--center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card--project {
  display: flex;
  position: relative;
}

/*            */
/*            */
/* NAVIGATION */
/*            */
/*            */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  padding: 0 32px;
  max-width: 1200px;
  margin: 32px auto 32px auto;
}
/* TOGGLE */
.toggle-container {
  position: relative;
  display: block;
  cursor: pointer;
  height: 32px;
  width: 56px;
  border-radius: 100px;
  background: var(--toggle-background);
  box-shadow: var(--toggle-box-shadow);
  transition: var(--toggle-transition);
}

.switch {
  position: absolute;
  top: 4px;
  left: var(--switch-position-left);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--switch-background);
  box-shadow: var(--switch-box-shadow);
  transition: var(--toggle-transition);
}

.toggle {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  pointer-events: none;
  color: var(--toggle-icon-color);
}

.sun,
.dark .moon {
  opacity: 1;
  transition: 0.2s;
}

.moon,
.dark .sun {
  opacity: 0;
  transition: 0.2s;
}

/* FILTER */
/* + general.css */
.filters-container-main {
  background-color: var(--filter-background-color);
  transition: var(--transition-delay);
  padding: 4px 5px 4px 5px;
  border-radius: 100px;
}

.filters-list {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

/* NAV CTA */
.nav-btn {
  display: flex;
  padding: 4px;
  background: linear-gradient(45deg, #f598a8, #f6edb2);
  border-radius: 100px;
  transition: all 0.3s;
}

.nav-cta:link,
.nav-cta:visited {
  text-decoration: none;
  border-radius: 100px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  background: var(--nav-button-color);
  transition: var(--transition-delay);
  padding: 8px 16px;
}

.nav-btn:hover {
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  transform: scale(1.04);
}

/*
CENTER FILTER ABSOLUTE 

.filters-primary {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.nav-cta {
  margin-left: auto;
} 
*/

/*              */
/*              */
/* INTRODUCTION */
/*              */
/*              */

.card--intro {
  display: flex;
  flex-direction: column;
}

.memoji {
  width: 123px;
  height: 137.5px;
  margin-bottom: 32px;
}

.intro-subheading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: -10px;
  pointer-events: none;
}

.intro-heading {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.3;
  margin-left: -2px;
  margin-bottom: 24px;
  background: -webkit-linear-gradient(45deg, #f598a8, #f6edb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.intro-text-gradient {
  background: -webkit-linear-gradient(45deg, #f598a8, #f6edb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  pointer-events: none;
}

.intro-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  width: 38ch;
  margin-bottom: 30px;
  pointer-events: none;
}

.intro-btn {
  align-self: flex-start;
  display: flex;
  padding: 4px 5px 4px 5px;
  background: linear-gradient(45deg, #f598a8, #f6edb2);
  border-radius: 100px;
  transition: all 0.3s;
}

.intro-cta:link,
.intro-cta:visited {
  text-decoration: none;
  border-radius: 100px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  background: var(--nav-button-color);
  transition: var(--transition-delay);
  padding: 8px 16px;
}

.intro-btn:hover {
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  transform: scale(1.04);
}

/*              */
/*              */
/* MAP LOCATION */
/*              */
/*              */

.card--map {
  padding: none;
  border-radius: 32px;
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  overflow: hidden !important;
}

#map {
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas {
  border-radius: 32px;
}

.mapboxgl-ctrl-logo {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

.zoom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  background: rgb(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}

.zoom-btn--out {
  left: 16px;
  bottom: 16px;
}
.zoom-btn--in {
  right: 16px;
  bottom: 16px;
}

/*        */
/*        */
/* PHOTOS */
/*        */
/*        */

.card--photos {
  padding: none;
  border-radius: 32px;
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  position: relative;
}

.slide {
  position: absolute;
  transition: transform 0.5s;
}

.photo {
  width: 266px;
  height: 266px;
  border-radius: 32px;
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  background: rgb(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-btn--left {
  left: 16px;
  bottom: 16px;
}

.slider-btn--right {
  right: 16px;
  bottom: 16px;
}

.slider-btn:hover {
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.5);
}

.button-icon {
  position: relative;
  /* color: #1d1d1d; */
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 100px;
}

.button-icon--left {
  left: -1px;
}

.button-icon--right {
  right: -1px;
}

.dots {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.dots--dot {
  border: none;
  background-color: #e6e6e6;
  opacity: 0.4;
  height: 8px;
  width: 8px;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.8);
}

.dots--dot:last-child {
  margin: 0;
}

.dots--dot--active {
  background-color: #e6e6e6;
  opacity: 1;
}

/*                   */
/*                   */
/* RUNNING DASHBOARD */
/*                   */
/*                   */

.card--running {
  display: flex;
  flex-direction: column;
}

.filters-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.filters-container-secondary {
  position: relative;
  background-color: var(--filter-background-color);
  padding: 4px 5px 4px 5px;
  border-radius: 100px;
}

.filter-list-secondary {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.filter-secondary-content {
  display: none;
}

.filter-content--active {
  display: contents;
}

.running-statistic {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  pointer-events: none;
}

/*          */
/*          */
/* LEARNING */
/*          */
/*          */

.learning-container {
  border-bottom: 2px solid var(--filter-background-color);
  padding: 18px 0;
}

.learning-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-helper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.learning-logo {
  height: 30px;
  width: 30px;
}

.logo-html {
  color: #d84925;
}

.logo-css {
  color: #2449d9;
}

.logo-javascript {
  color: #f7df1e;
}

.logo-react {
  color: #61dbfb;
}

.logo-nodejs {
  color: #68a163
}

.logo-vector {
  height: 27px;
  width: 27px;
}

.learning-text-container {
  width: 24ch;
}

.learning-container:last-child {
  border-bottom: none;
  padding: 15px 0 0 0;
}

.learning-course {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--text-color);
  transition: var(--transition-delay);
}

.learning-course:hover {
  color: var(--filter-text-color-on-hover);
}

.learning-status {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--subheading-color);
  /* align-self: flex-end; */
  margin-left: 40px;
  pointer-events: none;
}

.learning-status-helper {
  margin-top: -19px;
}

/*                     */
/*                     */
/* SPOTIFY LIVE LISTEN */
/*                     */
/*                     */

.card--spotify {
  display: grid;
  grid-template-columns: 202px 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 64px;
  /* column-gap: 56px; */
}

.song-artwork {
  grid-column: 1/2;
  grid-row: 1/3;
}

#spotify-artwork {
  width: 202px;
  height: 202px;
  border-radius: 12px;
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
}

#spotify-artwork:hover {
  cursor: pointer;
}

.spotify-logo {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: start;
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
}

.spotify-information {
  grid-column: 2/3;
  grid-row: 3/4;
}

.playing-status-container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.animation-container {
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.spotify-animation-1,
.spotify-animation-2,
.spotify-animation-3 {
  width: 3px;
  border-radius: 1.5px;
  background-color: #2ad45e;
  margin-right: 3px;
}

.spotify-animation-1 {
  animation: playing 0.8s infinite;
}

.spotify-animation-2 {
  animation: playing 1s infinite;
}

.spotify-animation-3 {
  animation: playing 1.2s infinite;
}

@keyframes playing {
  0% {
    height: 3px;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 3px;
  }
}

.current-status {
  font-size: 16px;
  font-weight: 600;
  color: #2ad45e;
  pointer-events: none;
}

.now-playing {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.5px;
  grid-column: 1/-1;
  margin-bottom: 4px;
}

#spotify-song {
  color: var(--text-color);
  transition: var(--transition-delay);
}

#spotify-song:hover {
  color: var(--filter-text-color-on-hover);
}

.song-artist {
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
}

/*               */
/*               */
/* SHOE ROTATION */
/*               */
/*               */

.rotation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rotation-shoe {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--alternative-text-color);
  transition: var(--transition-delay);
}

.rotation-shoe:hover {
  color: var(--text-color);
}

.rotation-grid-right {
  position: relative;
}

.rotation-shoe-image {
  position: absolute;
  display: none;
  transition: all var(--transition-delay);
}

.shoe-image {
  width: 246px;
  height: 138px;
  border-radius: 16px;
  box-shadow: inset 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
}

.rotation-shoe--active {
  color: var(--text-color);
}
.rotation-shoe-image--active {
  display: contents;
}

/*              */
/*              */
/* SOCIAL MEDIA */
/*              */
/*              */

.social-media-container {
  border-radius: 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.social-media-logo {
  color: #ffffff;
  height: 80px;
  width: 80px;
  display: flex;
}

.social-media-arrow {
  position: relative;
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 100px;
}

.social-media-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  background: rgb(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  right: 16px;
  bottom: 16px;
  z-index: 2;
}

.social-media-btn:hover {
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.5);
}

.card--github {
  background: #171515;
}

.card--twitter {
  background: #a5e0ff;
}

.card--linkedin {
  background: #5285ce;
}

.card--instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}
