* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'system-ui', sans-serif;
  background-color: #f5f5f5;
  color: #1d1d1d;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*            */
/*            */
/* NAVIGATION */
/*            */
/*            */

/* 
TO DO
  SET MAX WITDH; .header
  SORT OUT TOGGLE BOX SHADOW
DECISIONS 
  CURSOR POINTER ON TOGGLE OR SWITCH?
  #RGBA(0,0,0,0.04) OR #EDEDED 
  .FILTER.ACTIVE MOUSE POINTER
  .FILTER.ACTIVE HOVER COLOUR
*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  /* max-width: 130rem; */
  margin: 0 auto 3.2rem auto;
}

.toggle {
  position: relative;
  display: block;
  cursor: pointer;
  height: 3.2rem;
  width: 5.6rem;
  border-radius: 100rem;
  background-color: #fff;
  box-shadow: inset 0 0.2rem 6rem rgba(0, 0, 0, 0.1),
    inset 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1),
    inset 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.switch {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1),
    inset 0 0.4rem 0.4rem rgba(255, 255, 255, 1),
    inset 0 -0.4rem 0.4rem rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.toggle.active {
  background: #222;
  box-shadow: inset 0 0.8rem 6rem rgba(0, 0, 0, 0.1),
    inset 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1),
    inset 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: 0.3;
}

.toggle.active .switch {
  left: 2.8rem;
  background: linear-gradient(to bottom, #444, #222);
  box-shadow: 0 0.8rem 4rem rgba(0, 0, 0, 0.5),
    inset 0 0.1rem 0.4rem rgba(255, 255, 255, 0.2),
    inset 0 -0.1rem 0.4rem rgba(255, 255, 255, 0.2);
  transition: 0.3;
}

.filters-container-main {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.4rem;
  border-radius: 100rem;
}

.filter-list {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
}

.filter {
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border-radius: 10rem;
  transition: all 0.3s;
}

.filter:hover {
  color: #6e6e6e;
}

.filter.active {
  background-color: #ffffff;
}

.filter.active:hover {
  color: #1d1d1d;
  cursor: default;
}

.nav-btn {
  display: flex;
  padding: 0.4rem;
  background: linear-gradient(to right, #00dfd8, #007cf0);
  /* background-color: rgba(0, 0, 0, 0.04); */
  border-radius: 10rem;
  transition: all 0.3s;
}

.nav-cta:link,
.nav-cta:visited {
  text-decoration: none;
  border-radius: 10rem;
  color: #1d1d1d;
  font-size: 1.6rem;
  background: #ffffff;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
}

.nav-btn:hover {
  transform: scale(1.02);
}

/*               */
/*               */
/* GRID OF CARDS */
/*               */
/*               */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 28rem);
  grid-template-rows: repeat(4, 28rem);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  margin-bottom: 8rem;
}

.card {
  border-radius: 3.2rem;
  background-color: #ffffff;
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  padding: 3.2rem;
}

.card--center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*              */
/*              */
/* INTRODUCTION */
/*              */
/*              */

.card--intro {
  grid-column: 1/3;
  grid-row: 1/3;
}

.card--photos {
  grid-column: 3/4;
  grid-row: 1/2;
}

/*              */
/*              */
/* MAP LOCATION */
/*              */
/*              */

.card--map {
  grid-column: 4/5;
  grid-row: 1/2;
}

/*                     */
/*                     */
/* SPOTIFY LIVE LISTEN */
/*                     */
/*                     */

.card--spotify {
  grid-column: 3/4;
  grid-row: 2/3;
}

/*                    */
/*                    */
/* WHAT IM WORKING ON */
/*                    */
/*                    */

.card--guestbook {
  grid-column: 2/4;
  grid-row: 3/4;
}

/*                   */
/*                   */
/* RUNNING DASHBOARD */
/*                   */
/*                   */

.card--running {
  grid-column: 4/5;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
}

.heading-secondary {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  font-weight: 800;
}

.filters-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.6rem;
}

.filters-container-secondary {
  position: relative;
  background-color: #ebebeb;
  padding: 0.3rem;
  border-radius: 100rem;
}

.filter-list-secondary {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 1.4rem;
}

.running-metric {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
  color: #6e6e6e;
  font-weight: 500;
}

.running-statistic {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

/*                  */
/*                  */
/* RUNNING ROTATION */
/*                  */
/*                  */

.card--rotation {
  grid-column: 1/2;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
}

.rotation-usecase {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
  color: #6e6e6e;
  font-weight: 500;
}

.shoe-image {
  width: 100%;
  border-radius: 1.6rem;
  margin-bottom: 1.2rem;
  box-shadow: inset 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
}

/*              */
/*              */
/* SOCIAL MEDIA */
/*              */
/*              */

.card--github {
  grid-column: 2/3;
  /* grid-row: 3/4; */
  grid-row: 4/5;
  background: #171515;
}

.card--twitter {
  grid-column: 3/4;
  /* grid-row: 3/4; */
  grid-row: 4/5;
  background: #8fd8ff;
}

.card--instagram {
  grid-column: 4/5;
  /* grid-row: 3/4; */
  grid-row: 4/5;
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

.social-media-logo {
  color: #ffffff;
  height: 8rem;
  width: 8rem;
  display: flex;
}

.link-icon {
  position: relative;
  color: #1d1d1d;
  height: 2rem;
  width: 2rem;
}

.link-small {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.6rem;
  bottom: 1.6rem;
  background: #ffffff;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.link-big {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.6rem;
  bottom: 1.6rem;
  background: #ffffff;
  padding: 0.8rem;
  border-radius: 10rem;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
  transition: ease 0.2s;
}

.link-big-text {
  font-size: 1.6rem;
  margin: 0 0.8rem;
  color: #1d1d1d;
  padding: 0.8rem;
}

.link-small:hover ~ .link-big {
  z-index: 1;
  opacity: 1;
}

.link-big:hover {
  z-index: 1;
  opacity: 1;
}
