.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  padding: 0 32px;
  max-width: 1200px;
  margin: 32px auto 32px auto;
}

/* TOGGLE */
.toggle-container {
  position: relative;
  display: block;
  cursor: pointer;
  height: 32px;
  width: 56px;
  border-radius: 100px;
  background: var(--toggle-background);
  box-shadow: var(--toggle-box-shadow);
  transition: var(--toggle-transition);
}

.switch {
  position: absolute;
  top: 4px;
  left: var(--switch-position-left);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--switch-background);
  box-shadow: var(--switch-box-shadow);
  transition: var(--toggle-transition);
}

.toggle {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  pointer-events: none;
  color: var(--toggle-icon-color);
}

.sun,
.dark .moon {
  opacity: 1;
  transition: 0.2s;
}

.moon,
.dark .sun {
  opacity: 0;
  transition: 0.2s;
}

/* FILTER */
.filters-container {
  background-color: var(--filter-background-color);
  transition: var(--transition-delay);
  padding: 4px 5px 4px 5px;
  border-radius: 100px;
  transition: var(--toggle-transition);
}

.filters-list {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.filter {
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s;
  padding: 8px 16px;
}

.filter:link,
.filter:visited {
  color: var(--text-color);
}

.filter:hover {
  color: var(--filter-text-color-on-hover);
}

.filter.active {
  background-color: var(--filter-active-color);
}

.filter.active:hover {
  color: var(--text-color);
  cursor: default;
}

a {
  text-decoration: none;
  transition: var(--transition-delay);
}

/* NAV CTA */
.nav-btn {
  display: flex;
  padding: 4px;
  background: linear-gradient(45deg, #e36577, #f6edb2);
  border-radius: 100px;
  transition: all 0.3s;
}

.nav-cta {
  text-decoration: none;
  border-radius: 100px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  background: var(--nav-button-color);
  transition: var(--transition-delay);
  padding: 8px 16px;
  cursor: pointer;
}

.nav-btn:hover {
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  transform: scale(1.04);
}

/* ABSOLUTE CENTER */
.filters {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.nav-cta {
  margin-left: auto;
}

/*      */
/*      */
/* BODY */
/*      */
/*      */

.container {
  max-width: 800px;
  padding: 0 32px;
  margin: 0 auto;
}

.heading-container {
  margin-top: 120px;
}

.center-helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 600;
}

.hero-subheading {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 8px;
}

/*               */
/*               */
/* IMAGE CLUSTER */
/*               */
/*               */

.hero-image-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  border-radius: 32px;
  overflow: hidden;
}
.hero-image {
  width: 100%;
}

/*                 */
/*                 */
/* PROJECT CONTENT */
/*                 */
/*                 */

.subheading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.project-subheading {
  font-size: 28px;
}

.technology-cluster {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 5px;
}

.project-logo {
  width: 50px;
  height: 50px;
}

.project-about-container {
  margin-top: 80px;
  margin-bottom: 120px;
}

.project-about-container p {
  font-size: 15px;
  line-height: 1.4;
  max-width: 62ch;
  margin: 40px auto;
  text-align: center;
}
