/* 
9999PX -> 1200PX 
266PX --> 556PX
*/

/* 
1200PX -> 1000PX 
216PX --> 406PX
*/
@media (max-width: 1199px) {
  .container,
  .header {
    max-width: 1000px;
  }
  .card-404 {
    height: 456px;
    width: 456px;
  }
}

/* 
1000PX --> 800PX
229PX ---> 482PX
*/
@media (max-width: 999px) {
  .container,
  .header {
    max-width: 800px;
  }
  .card-404 {
    height: 482px;
    width: 482px;
  }
}

/* 
800PX ---> 546PX 
229PX ---> 482PX
*/
@media (max-width: 799px) {
  .container {
    max-width: 546px;
  }
  .header {
    max-width: 402px;
  }
  .card-404 {
    height: 482px;
    width: 482px;
  }

  /* HEADER */
  .header {
    height: auto;
    max-width: 402px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 70px);
    position: relative;
  }
  .toggle-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .filters-404 {
    position: absolute;
    width: fit-content;
    align-self: center;
    bottom: 0;
    grid-column: 1/3;
  }
  .nav-btn {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
}

/* 
546PX ---> 424PX 
168PX ---> 360PX
*/
@media (max-width: 545px) {
  .container {
    max-width: 424px;
  }
  .header {
    max-width: 360px;
    grid-template-rows: repeat(2, 66px);
  }
  .filters-list {
    font-size: 15px;
  }
  .filter {
    padding: 6.5px 13px;
  }
  .nav-cta:link,
  .nav-cta:visited {
    font-size: 15px;
    padding: 7px 14px;
  }
  .card-404 {
    height: 360px;
    width: 360px;
  }
  .btn-404 {
    padding: 4px;
  }
  .cta-404:link,
  .cta-404:visited {
    font-size: 15px;
    padding: 7px 14px;
  }
}

/* 
424PX ---> 410PX 
161PX ---> 346PX
*/
@media (max-width: 423px) {
  .container {
    max-width: 410px;
  }
  .card-404 {
    height: 346px;
    width: 346px;
  }
}

/* 
410PX ---> 390PX
151PX ---> 326PX
*/
@media (max-width: 409px) {
  .container {
    max-width: 390px;
  }
  .header {
    max-width: 346px;
    grid-template-rows: repeat(2, 65px);
  }
  .filters-list {
    font-size: 14px;
  }
  .card-404 {
    height: 326px;
    width: 326px;
  }
}

/* 
390PX ---> 374PX
151PX ---> 326PX
*/
@media (max-width: 389px) {
  .container {
    max-width: 374px;
    padding: 0 24px;
  }
  .header {
    max-width: 288px;
    grid-template-rows: repeat(2, 66px);
  }
  .filter {
    padding: 7px 14px;
  }
  .card-404 {
    height: 326px;
    width: 326px;
  }
  .btn-404 {
    bottom: -70px;
    padding: 4px;
  }
}

/* 
374PX ---> 360PX
144PX ---> 312PX
*/
@media (max-width: 373px) {
  .container {
    max-width: 360px;
  }
  .card-404 {
    height: 312px;
    width: 312px;
  }
}

/* 
360PX ---> 300PX
144PX ---> 300PX
*/
@media (max-width: 359px) {
  .container {
    max-width: 300px;
    padding: 0 16px;
  }
  .header {
    max-width: 272px;
    grid-template-rows: repeat(2, 64px);
  }
  .filter {
    padding: 6px 12px;
  }
  .nav-cta:link,
  .nav-cta:visited {
    font-size: 14px;
    padding: 6px 12px;
  }
  .card-404 {
    height: 268px;
    width: 268px;
  }
  .cta-404:link,
  .cta-404:visited {
    font-size: 14px;
    padding: 6px 12px;
  }
}
